{% extends "layout/app.html" %}
{% load static %}
{% block title %}Linha{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block canvas_menu %}{% include '_component/menu/trafego.html' %}{% endblock %}
<style media="screen">
  {% block style %}
  @media(min-width: 992px){
    .codigo_container{width: 150px;}
  }
  {% endblock %}
</style>
{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="tab_link_base" class="nav-link navTab active" data-seq="0" data-bs-toggle="tab" data-bs-target="#base" onclick="setTimeout(function(){document.getElementById('id_empresa').focus();},220);" href="#"><i class="bi bi-arrow-left-right"></i></a></li>
      <li class="nav-item"><a id="tab_link_extensoes" class="nav-link navTab" data-seq="1" data-bs-toggle="tab" data-bs-target="#extensoes" onclick="setTimeout(function(){document.getElementById('id_extensao_ida').focus();},220);" href="#"><i class="bi bi-rulers"></i></a></li>
      <li class="nav-item ms-1"><a id="tab_link_trajetos" class="nav-link navTab text-purple" data-seq="2" href="{% url 'trafego_trajetos' linha.id|safe %}" title="Trajetos [Ctrl + 3]"><i class="bi bi-arrow-left-right"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'trafego_linhas' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal" data-i18n="common.history">Historico</a></li>
          {% if perms.trafego.delete_linha %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal" data-i18n="route.form.removeRoute">Excluir Linha</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <form id="trafego_form" action="{% url 'trafego_linha_update' linha.id|safe %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'trafego/_form_linha.html' %}
  </form>
</div>

{% if perms.trafego.delete_linha %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-triangle-fill text-danger me-2"></i> <span data-i18n="sys.deleteRecord">Excluir Registro</span></h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-danger" data-i18n="common.warning">Atenção</b> <span data-i18n="sys.deleteRecordMsg">Esta operação não pode ser desfeita, confirma a exclusão do registro?</span></p>
        <div class="row mt-2">
          <div class="col text-end">
            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" data-i18n="common.cancel">Cancelar</a>
            <a class="btn btn-danger px-3" href="{% url 'trafego_linha_delete' linha.id|safe %}" data-i18n="common.remove">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" id="history_modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><span data-i18n="common.history">Histórico</span> <sup>(last 15)</sup></h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th data-i18n="common.date">Data</th>
              <th data-i18n="common.operation">Operação</th>
              <th data-i18n="common.user">Usuário</th>
            </tr>
          </thead>
          <tbody class="fs-7">
            {% for i in linha.ultimas_alteracoes %}
            <tr>
              <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
              <td>{{i.mensagem}}</td>
              <td>{{i.usuario.username|upper}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% if perms.trafego.change_patamar %}
<div class="modal fade" id="patamar_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Patamares de Operação</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form action="{% url 'trafego_patamar_update' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <div class="row g-1">
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="inicial" id="id_inicial" min="0" max="23" value="" onfocus="this.select()" required>
                  <label for="id_inicial">Inicio</label>
                </div>
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="final" id="id_final" min="0" max="23" value="" onfocus="this.select()" required>
                  <label for="id_final">Fim</label>
                </div>
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="ida" id="id_ida" min="1" max="540" value="50" onfocus="this.select()" required>
                  <label for="id_ida">Ida</label>
                </div>
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="volta" id="id_volta" min="1" max="540" value="50" onfocus="this.select()" required>
                  <label for="id_volta">Volta</label>
                </div>
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="intervalo_ida" id="id_intervalo_ida" min="1" max="30" value="10" onfocus="this.select()" required>
                  <label for="id_intervalo_ida">Int Ida</label>
                </div>
                <div class="form-floating mb-1 col-2">
                  <input type="number" class="form-control" name="intervalo_volta" id="id_intervalo_volta" min="1" max="30" value="1" onfocus="this.select()" required>
                  <label for="id_intervalo_volta">Int Volta</label>
                </div>
              </div>
              <input type="hidden" name="linha" id="id_linha" value="{{linha.id}}">
              <input type="hidden" name="patamar" id="id_patamar" value="">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col text-end">
              <a class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
              <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Gravar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}

  appKeyMap.bind('ctrl+1', ()=>{document.getElementById('tab_link_base').click()}, {desc: 'Exibe aba com campos básicos'})
  appKeyMap.bind('ctrl+2', ()=>{document.getElementById('tab_link_extensoes').click()}, {desc: 'Exibe aba com métricas da linha'})
  appKeyMap.bind('ctrl+3', ()=>{document.getElementById('tab_link_trajetos').click()}, {desc: 'Exibe página de trajetos da linha'})

  const formTabs = document.querySelectorAll('.navTab');
  appKeyMap.bind('ctrl+arrowleft', ()=>{
    let current = document.querySelector('.navTab.active').dataset.seq;
    if(current == 0){return}
    formTabs[current -= 1].click();    
  },{desc: 'Mostra próxima aba do formulário', origin: 'linha_id'})
  appKeyMap.bind('ctrl+arrowright', ()=>{
    let current = document.querySelector('.navTab.active').dataset.seq;
    if(current > 0){return}
    formTabs.item(current += 1).click();
  }, {desc: 'Mostra próxima aba do formulário', origin: 'linha_id'})

  const form = new jsForm(document.getElementById('trafego_form'), {});
  
  {% if perms.trafego.change_patamar %}
  var modal_patamar = new bootstrap.Modal(document.getElementById('patamar_modal'), {keyboard: true});
  function patamarUpdate(inicial='', final='', ida=50, volta=45, patamar=''){
    document.getElementById('id_inicial').value = inicial;
    document.getElementById('id_final').value = final;
    document.getElementById('id_ida').value = ida;
    document.getElementById('id_volta').value = volta;
    document.getElementById('id_patamar').value = patamar;
    modal_patamar.show();
    setTimeout(function(){document.getElementById('id_inicial').select();},480);
  }
  {% endif %}
  {% endblock %}
</script>