{% extends "layout/app.html" %}
{% load static %}
{% block title %}Localidades{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block canvas_menu %}{% include '_component/menu/trafego.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.trafego.add_localidade %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'trafego_localidade_add' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
      <li id="modelos_auxiliares_container" class="nav-item dropdown ms-1">
        <a class="nav-link dropdown-toggle text-body" id="sac_extra" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul id="modelos_auxiliares_list" class="dropdown-menu fs-7">
          <li><a class="dropdown-item" href="{% url 'trafego_localidades' %}?showAll=true"><i class="bi bi-list me-2"></i>Mostrar todos</a></li>
        </ul>
      </li>
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.localidade&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Localidades</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <caption>
          <button id="id_garagem" data-value="false" type="button" class="btn btn-sm btn-phantom" onclick="setAdicionalFilters(this)">Garagem</button>
          <button id="id_tturno" data-value="false" type="button" class="btn btn-sm btn-phantom" onclick="setAdicionalFilters(this)">T Turno</button>
          <button id="id_controle" data-value="false" type="button" class="btn btn-sm btn-phantom" onclick="setAdicionalFilters(this)">Controle</button>
        </caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th class="d-none d-lg-table-cell">GAR</th>
            <th class="d-none d-lg-table-cell">T Turno</th>
            <th class="d-none d-lg-table-cell">Controle</th>
            {% if perms.trafego.change_localidade %}
            <th class="text-transparent">cnt</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for localidade in localidades %}
          <tr>
            <td>{{localidade.id|safe}}</td>
            <td>{{localidade.nome}}</td>
            <td class="d-none d-lg-table-cell">{{localidade.eh_garagem|yesno:'GAR,'}}</td>
            <td class="d-none d-lg-table-cell">{{localidade.troca_turno|yesno:'T Turno,'}}</td>
            <td class="d-none d-lg-table-cell">{{localidade.ponto_de_controle|yesno:'P Controle,'}}</td>
            {% if perms.trafego.change_localidade %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_localidade_id' localidade.id|safe %}"><i class="bi bi-pen-fill"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  const table = new jsTable(document.getElementById('main_table'), {
    dataUrl: '{% url 'trafego_get_localidades' %}',
    enablePaginate: true,
    emptyTableMessage: 'Selecione um filtro ou mude o criterio da pesquisa'
  });

  let adicional_filters = '';
  let garagem = document.getElementById('id_garagem');
  let controle = document.getElementById('id_controle');
  let tturno = document.getElementById('id_tturno');
  
  function setAdicionalFilters(el){
    if(el.dataset.value == 'false'){
      el.dataset.value = 'true';
      el.classList.remove('btn-phantom');
      el.classList.add('btn-success');
    }
    else{
      el.dataset.value = 'false';
      el.classList.remove('btn-success');
      el.classList.add('btn-phantom');
    }
    adicional_filters = garagem.dataset.value == 'true' ? '&garagem=True' : '';
    adicional_filters += controle.dataset.value == 'true' ? '&controle=True' : '';
    adicional_filters += tturno.dataset.value == 'true' ? '&tturno=True' : '';
    table.dataUrlAdicionalFilters = adicional_filters;
    table.dataUrlGet();
  }


  {% endblock %}
</script>