{% extends "layout/app.html" %}
{% load static %}
{% block title %}Carregamento{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block canvas_menu %}{% include '_component/menu/trafego.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="tab_link_chart" class="nav-link active" data-bs-toggle="tab" data-bs-target="#chart" href="#" title="Resumo"><i class="bi bi-bar-chart-line-fill"></i></a></li>
      <li class="nav-item ms-1"><a id="tab_link_detalhe" class="nav-link" href="#" title="Baixar detalhado"><i class="bi bi-list"></i></a></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="row">
      <div class="col"><h5 class="card-title mb-2">Análise de Carregamento</h5></div>
      <div class="col-auto">
        <button class="btn btn-sm btn-phantom" id="filters_btn" data-bs-toggle="collapse" data-bs-target="#filters"><i class="bi bi-funnel-fill"></i></button>
      </div>
    </div>
    <div class="collapse{% if not dados %} show{% endif %}" id="filters">
      <form id="filter_form" action="{% url 'trafego_passageiros' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row g-1">
          <div class="col-lg-2 mb-lg-1 form-floating">
            <select name="layout" id="id_layout" class="form-select" autofocus>
              <option value="linha_diario">Linha Diário</option>
              <option value="carregamento_faixa">Carregamento por Faixa</option>
            </select>
            <label for="id_layout">Layout</label>
          </div>
          <div class="col-lg-2 mb-lg-1 form-floating">
            <select name="empresa" id="id_empresa" class="form-select"></select>
            <label for="id_empresa">Empresa</label>
          </div>
          <div class="col-lg-2 mb-lg-1 form-floating">
            <input type="date" class="form-control" name="data_inicio" id="id_data_inicio" value="{{request.POST.data_inicio}}" required>
            <label for="id_data_inicio">Data Inicio</label>
          </div>
          <div class="col-lg-2 mb-lg-1 form-floating">
            <input type="date" class="form-control" name="data_fim" id="id_data_fim" value="{{request.POST.data_fim}}" required>
            <label for="id_data_fim">Data Fim</label>
          </div>
          <div class="col-lg-2 mb-lg-1 form-floating">
            <input type="text" class="form-control" name="linha_inicio" id="id_linha_inicio" value="{{request.POST.linha_inicio}}">
            <label for="id_linha_inicio">Linha Inicio</label>
          </div>
          <div class="col-lg-2 mb-1 form-floating">
            <input type="text" class="form-control" name="linha_fim" id="id_linha_fim" value="{{request.POST.linha_fim}}">
            <label for="id_linha_fim">Linha Fim</label>
          </div>
        </div>

        <div class="row g-1">
          <div class="col-lg-2 mb-lg-1 form-floating">
            <input type="text" class="form-control" name="veiculo_inicio" id="id_veiculo_inicio" value="{{request.POST.veiculo_inicio}}">
            <label for="id_veiculo_inicio">Veiculo Inicio</label>
          </div>
          <div class="col-lg-2 mb-lg-1 form-floating">
            <input type="text" class="form-control" name="veiculo_fim" id="id_veiculo_fim" value="{{request.POST.veiculo_fim}}">
            <label for="id_veiculo_fim">Veiculo Fim</label>
          </div>
          <div class="col-lg-4 mb-1 form-floating">
            <input type="text" class="form-control" name="cartao" id="id_cartao" value="{{request.POST.cartao}}">
            <label for="id_cartao">Número do cartão</label>
          </div>
          <div class="col">
            <button type="submit" id="submit" class="btn btn-dark">Buscar</button>
          </div>
        </div>
      </form>

    </div>
    <div class="tab-pane fade show active mt-2" id="chart" role="tabpanel">
      <div id="table_result"></div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  // Seleciona layout baseado na ultima busca
  document.getElementById('id_layout').value = '{{layout|default:'linha_diario'}}';

  // Precarrega campos de data com data atual
  if(document.getElementById('id_data_inicio').value == ''){dateToday({native: true, days: -1, target: document.getElementById('id_data_inicio')})}
  if(document.getElementById('id_data_fim').value == ''){dateToday({native: true, target: document.getElementById('id_data_fim')})}
  
  appKeyMap.map['gTFF'].desc = 'Realiza busca com filtros informados'; // Altera descricao do atalho Alt G 
  appKeyMap.bind({key: ';', alt: true, run: ()=>{document.getElementById('filters_btn').click()}})

  // Move foco para layout sempre q exibido lista de filtros
  document.querySelector('.collapse').addEventListener('shown.bs.collapse', ()=>{document.getElementById('id_layout').focus()})
  
  // Cria instancia para o form
  let form = new jsForm(document.getElementById('filter_form'), {
    selectPopulate: [
    {
      target: document.getElementById('id_empresa'), 
      url: '{% url 'core_get_empresas' %}',
      emptyRow: true,
      emptyRowText: 'Geral',
      then: ()=>{if(urlGet('empresa') != null){document.getElementById('id_empresa').value = urlGet('empresa')}}
    }
    ],
    customValidation: {
      'data_fim': () => {
        return [
          document.getElementById('id_data_inicio').value <= document.getElementById('id_data_fim').value,
          'Data final deve ser maior que data inicial'
        ]
      }
    }
  })

  {% if dados %}
    {% if layout == 'linha_diario' %}
      // Cria dicionario com dados pesquisados
      const dados = [
      {% for d in dados %}
        {empresa_id: {{d.empresa_id}}, empresa_nome: '{{d.empresa__nome}}', linha_id: {{d.linha_id}}, linha_codigo: '{{d.linha__codigo}}', linha_nome: '{{d.linha__nome}}', aplicacao: '{{d.aplicacao}}', tipo: '{{d.tipo}}', qtde: {{d.qtde|safe}}},
      {% endfor %}
      ]
      
      let total = 0;
      for(let i=0; i < dados.length; i++){total += dados[i].qtde}
    {% endif %}  
  {% endif %}


  // const linha_diario = new jsTableJson('linha_diario', {
  //   data: dados,
  //   container: document.getElementById('table_result'),
  // })


  {% endblock %}
</script>