asgiref==3.8.1
asteval==1.0.7
chardet==5.2.0
Django==5.2.7
django-auditlog==3.3.0
django-filter==25.2
djangorestframework==3.16.1
pillow==10.4.0
python-dateutil==2.9.0.post0
reportlab==4.2.2
six==1.17.0
sqlparse==0.5.1
tzdata==2024.1
