{% load tag_extra %}
{% load i18n %}
<div class="accordion mb-2" id="auto_filter_form_container">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button 
                id="auto_filter_form_btn"
                class="accordion-button collapsed shadow-none py-2 ps-2 bg-body-tertiary" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#auto_filter_form_container_container">
                <i class="bi bi-funnel-fill me-2 text-body"></i>
                <span class="text-body-secondary" >{% translate 'Filtros' %}</span>
            </button>
        </h2>
        <div id="auto_filter_form_container_container" class="accordion-collapse{% if not request.GET %} collapse{% endif %}" data-bs-parent="#auto_filter_form_container">
            <div class="accordion-body bg-body-tertiary pt-0 pb-2">
                <form method="GET" id="{{table.data.verbose_name}}_form" autocomplete="off">
                    <div class="row g-1">
                        {% for field in filter.form %}
                        <div class="col-md">
                            <label class="small text-body-secondary" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row g-1">
                        <div class="col mt-3 text-end">
                            <div class="btn-group">
                                <button type="submit" id="submit" class="btn btn-sm btn-success-matte active fs-8">{% translate 'Pesquisar'|hl_str:'g' %}</button>
                                <a href="{{ request.path }}" class="btn btn-sm btn-success-matte"><i class="bi bi-x-lg"></i></a>
                            </div>
                            <div class="btn-group">
                                {% if table.export_csv %}
                                <button type="submit" name="_export" id="download" value="csv" class="btn btn-sm btn-dark fs-8"> <i class="bi bi-download me-1"></i>CSV</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>