{% load i18n %}
{% load ui_components %}
<div class="card-body tab-content">
  <h5 class="card-title mb-3">{% translate 'Cadastro de Usuário'|escapejs %}</h5>
  <div class="tab-pane fade show active" id="base" role="tabpanel">
    <div class="row">
      <div class="col-lg-8">
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg">
            {{ form.username }}
            {{ form.username.i18n_label }}
          </div>
          <div class="form-floating mb-1 col-lg">
            {% if 'new' in request.get_full_path %}
            {{ form.password }}
            <label for="id_password">{% translate 'Senha'|escapejs %}</label>
            {% else %}              
            <input type="password" class="form-control" name="password" id="id_password" disabled>
            <label for="id_password" >{% translate 'Reiniciar senha'|escapejs %}</label>
            {% endif %}              
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-6">
            {{ form.first_name }}
            {{ form.first_name.i18n_label }}
          </div>
          <div class="form-floating mb-1 col-lg-6">
            {{ form.last_name }}
            {{ form.last_name.i18n_label }}
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-12">
            {{ form.email }}
            {{ form.email.i18n_label }}
          </div>
        </div>
        <div class="accordion mt-2" id="accordion_user_profile">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#accordion_empresas"><i class="bi bi-house-gear-fill text-body-secondary me-2"></i>{% translate 'Empresas'|escapejs %}</button>
            </h2>
            <div id="accordion_empresas" class="accordion-collapse collapse" data-bs-parent="#accordion_user_profile">
              <div class="accordion-body">
                <div class="row g-1">
                  <div class="mb-1 col-lg">{{form.filiais}}</div>
                </div>
              </div>
            </div>
          </div>
          {% if not usuario.is_superuser %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#accordion_grupos"><i class="bi bi-person-video2 text-body-secondary me-2"></i>{% translate 'Grupos'|escapejs %}</button>
            </h2>
            <div id="accordion_grupos" class="accordion-collapse collapse" data-bs-parent="#accordion_user_profile">
              <div class="accordion-body">
                <div class="row g-1">
                  <div class="mb-1 col-lg">
                    {{form.groups}}
                  </div>
                </div>                
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-body-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#accordion_permittions"><i class="bi bi-person-fill-lock text-body-secondary me-2"></i>{% translate 'Permissões'|escapejs %}</button>
            </h2>
            <div id="accordion_permittions" class="accordion-collapse collapse" data-bs-parent="#accordion_user_profile">
              <div class="accordion-body">
                <div class="row">
                  <div class="mb-1 col-lg">
                    {{form.user_permissions}}
                  </div>
                </div>                 
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg">
        {% if 'update' in request.get_full_path %}
        <div class="form-check form-switch mt-2 mt-lg-1">
          <input type="checkbox" class="form-check-input" id="resetar_senha" name="" value="" onclick="resetPassword();">
          <label class="form-check-label" for="resetar_senha">{% translate 'Reiniciar senha'|escapejs %}</label>
        </div>
        {% endif %}
        <div class="form-check form-switch mt-1">
          <input type="checkbox" class="form-check-input" id="mostrar_senha" name="" value="" onclick="switchSenha();">
          <label class="form-check-label" for="mostrar_senha">{% translate 'Mostra Senha'|escapejs %}</label>
        </div>
        <div class="form-check form-switch mt-1">
          {{form.is_active}}
          <label class="form-check-label" for="id_is_active">{% translate 'Ativo'|escapejs %}</label>
        </div>
        <div class="form-check form-switch">
          {{form.is_staff}}
          <label class="form-check-label" for="id_is_staff">{% translate 'Membro de Equipe'|escapejs %}</label>
        </div>
        <div class="form-check form-switch">
          {{form.is_superuser}}
          <label class="form-check-label text-danger" for="id_is_superuser">{% translate 'Super Usuário'|escapejs %}</label>
        </div>
        <hr />
        <div class="form-check form-switch{% if not 'update' in request.get_full_path %} d-none{% endif %}">
          <input type="checkbox" class="form-check-input" name="force_password_change" id="id_force_password_change"{% if not usuario or usuario.profile.force_password_change %} checked{% endif %}>
          <label class="form-check-label" for="id_force_password_change">{% translate 'Forçar troca de senha'|escapejs %}</label>
        </div>
      </div>
    </div>
    
  </div>
  <!-- CONTROLES DO FORM -->
  <div class="row mt-3">
    <div class="col">
      {% btn_tag 'submit' %}
    </div>
  </div>
</div>

<script>
  
  function switchSenha(){
    if(document.getElementById('mostrar_senha').checked){document.getElementById('id_password').type = 'text';}
    else{document.getElementById('id_password').type = 'password';}
  }
  function resetPassword(){
    if(document.getElementById('resetar_senha').checked){
      document.getElementById('id_password').disabled = false;
      document.getElementById('id_password').focus();
    }
    else{document.getElementById('id_password').disabled = true;}
  }
</script>