<div class="card-body tab-content">
    <h5 class="card-title mb-0"><span >Cadastro</span>: <span class="text-purple" >Filial</span></h5>
    <p>{{empresa.razao_social}}</p>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-1">
            <div class="form-floating mb-lg-1 col-lg">
                {{ form.nome }}
                {{ form.nome.i18n_label }}
            </div>
            <div class="form-floating mb-lg-1 col-lg-2">
                {{ form.fone }}
                {{ form.fone.i18n_label }}
            </div>
            <div class="form-floating mb-lg-1 col-lg-2">
                {{ form.fax }}
                {{ form.fax.i18n_label }}
            </div>
            <div class="form-floating mb-lg-1 col-lg-2 custom-tom-select">
                {{ form.fuso_horario }}
                {{ form.fuso_horario.i18n_label }}
            </div>
            <div class="form-floating mb-1 col-lg-3">
                {{ form.cnpj }}
                {{ form.cnpj.i18n_label }}
            </div>
        </div>
        <div class="row g-1">
            <div class="form-floating mb-lg-1 col-lg-6">
                {{ form.nome_fantasia }}
                {{ form.nome_fantasia.i18n_label }}
            </div>
            <div class="form-floating mb-lg-1 col-lg-3">
                {{ form.inscricao_estadual }}
                {{ form.inscricao_estadual.i18n_label }}
            </div>
            <div class="form-floating mb-1 col-lg-3">
                {{ form.inscricao_municipal }}
                {{ form.inscricao_municipal.i18n_label }}
            </div>
        </div>
        <div class="row g-1">
            <div class="form-floating mb-lg-1 col-lg-9">
                {{ form.endereco }}
                {{ form.endereco.i18n_label }}
            </div>
            <div class="form-floating mb-1 col-lg-3">
                {{ form.cep }}
                {{ form.cep.i18n_label }}
            </div>
        </div>
        <div class="row g-1">
            <div class="form-floating mb-lg-1 col" style="max-width: 100px;">
                {{ form.uf }}
                {{ form.uf.i18n_label }}
            </div>
            <div class="form-floating mb-lg-1 col">
                {{ form.cidade }}
                {{ form.cidade.i18n_label }}
            </div>
            <div class="form-floating mb-1 col-lg">
                {{ form.bairro }}
                {{ form.bairro.i18n_label }}
            </div>
        </div>
        <div class="row g-1">
            <div class="form-floating mb-lg-1 col-lg-2">
                {{ form.cnae }}
                {{ form.cnae.i18n_label }}
            </div>
            <div class="form-floating mb-1 col-lg-10">
                {{ form.atividade }}
                {{ form.atividade.i18n_label }}
            </div>
        </div>
        <div class="row g-1">
            <span class="ps-1 mt-2 pb-1"><b>Logo:</b></span>
            <div class="col-md">
                {{ form.logo }}
            </div>
            {% if empresa.logo %}
            <div class="col-md-auto text-center mt-2 mt-md-0">
                <img src="{{empresa.logo.url}}" style="max-width: 200px;">
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row g-1 mt-2">
            <div class="mb-1 col-12">
                {{ form.footer }}
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <button type="submit" id="submit" class="btn btn-primary" ><b>G</b>ravar</button>
        </div>
    </div>
    <input type="hidden" name="empresa" id="id_empresa" value="{{empresa.id|safe}}">
</div>