{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load ui_components %}
{% block titulo %}{% translate 'Senha' %}{% endblock %}
{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" id="menu_pass_basico" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="menu_pass_help" data-bs-toggle="tab" data-bs-target="#help" href="#"><i class="bi bi-question-lg"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" href="{% url 'index' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'change_password' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-3">{% translate 'Alterar Senha' %}</h5>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-5">
            <input type="password" class="form-control" name="old_password" id="id_old_password" value="" autofocus placeholder="">
            <label for="id_old_password">{% translate 'Senha atual' %}</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-5">
            <input type="password" class="form-control" name="new_password1" id="id_new_password1" value="" placeholder="" onkeyup="medirSenha()" required>
            <label for="id_new_password1">{% translate 'Nova senha' %}</label>
          </div>
        </div>
        <div class="progress mb-1" style="max-width: 300px;"><div class="progress-bar bg-secondary" role="progressbar" id="senha_progress"></div></div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-5">
            <input type="password" class="form-control" name="new_password2" id="id_new_password2" value="" placeholder=" " required>
            <label for="id_new_password2">{% translate 'Confirmar senha' %}</label>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            {% btn_tag 'submit' %}
            <button type="button" id="show_password" class="btn btn-sm btn-purple" onclick="showPassword()"><i class="bi bi-eye-fill"></i></button>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="help" role="tabpanel">
        <div class="row">
          <div class="col">
            <ul>
              <li><span >Minimo de</span> {{settings.quantidade_caracteres_senha}} <span >caracteres</span></li>
              {% if settings.senha_exige_alpha %}<li>{% translate 'Deve conter letras' %}</li>{% endif %}
              {% if settings.senha_exige_maiuscula %}<li>{% translate 'Deve conter maiusculas e minusculas' %}</li>{% endif %}
              {% if settings.senha_exige_numero %}<li>{% translate 'Deve conter números' %}</li>{% endif %}
              {% if settings.senha_exige_caractere %}<li >{% translate 'Deve conter caracteres especiais' %}</li>{% endif %}
              {% if settings.historico_senhas_nao_repetir > 0 %}
              <li>
                {% blocktranslate with total=settings.historico_senhas_nao_repetir %}
                  Não pode coincidir com as últimas {{ total }} senhas utilizadas
                {% endblocktranslate %}.
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>      
    </div>
  </form>
</div>
{% endblock%}

<script>

{% block add_script %}
appKeyMap.bind('ctrl+1', ()=>{document.getElementById('menu_pass_basico').click()}, {icon: 'bi bi-palette2 text-purple', desc:'{% translate 'Exibe aba de troca de senha' %}', origin: 'core:change_password'})
appKeyMap.bind('ctrl+2', ()=>{document.getElementById('menu_pass_help').click()}, {icon: 'bi bi-palette2 text-purple', desc:'{% translate 'Exibe aba de ajuda' %}', origin: 'core:change_password'})

password = document.getElementById('id_new_password1');
password_current = document.getElementById('id_old_password');
password_confirm = document.getElementById('id_new_password2');
senha_progress = document.getElementById('senha_progress');

function medirSenha(){
  let tamanho = password.value.length;
  let peso = 0;
  let senha_valida = true;
  if(tamanho == 0 ){
    peso = 0;
    senha_progress.classList = 'progress-bar bg-secondary';
    senha_progress.style.width = '0%';

  }
  else{
    // AVALIA TAMANHO DA SENHA
    if(tamanho < {{settings.quantidade_caracteres_senha|default:6}}){peso += 1;senha_valida = false;}
    else if(tamanho > 10){peso += 3;}
    else{peso += 2;}

    if(password.value.match('[a-zA-z]')){peso +=1;}else{if({{settings.senha_exige_alpha|yesno:'true,false'}}){senha_valida = false}}               // AVALIA EXISTENCIA DE ALPHA
    if(password.value.match('[a-z]') && password.value.match('[A-Z]')){peso +=2;}else{if({{settings.senha_exige_maiuscula|yesno:'true,false'}}){senha_valida = false}} // AVALIA EXISTENCIA DE LETRAS MAIUSCULAS + MINUSCULAS
    if(password.value.match('[0-9]')){peso +=1;}else{if({{settings.senha_exige_numero|yesno:'true,false'}}){senha_valida = false}}                      // AVALIA EXISTENCIA DE NUMEROS
    if(password.value.match('[@#$%&*()-+.<>!_]')){peso +=3;}else{if({{settings.senha_exige_caractere|yesno:'true,false'}}){senha_valida = false}}       // AVALIA EXISTENCIA DE CARACTERES ESPECIAIS
    
    if(senha_valida){
      senha_progress.style.width = (peso * 10) + '%';
      senha_progress.classList = 'progress-bar bg-success';
      return true;
    }
    else{
      senha_progress.style.width = (peso * 8) + '%';
      senha_progress.classList = 'progress-bar bg-secondary';
      return false;
    }
  }
};

let show_password = false;
function showPassword(){
  show_password = show_password == false;
  password.type = show_password ? 'text' : 'password';
  password_current.type = show_password ? 'text' : 'password';
  password_confirm.type = show_password ? 'text' : 'password';
  document.getElementById('show_password').innerHTML = show_password ? '<i class="bi bi-eye-slash-fill"></i>' : '<i class="bi bi-eye-fill"></i>';
}
{% endblock%}
</script>