{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% block title %}Empresas{% endblock %}
{% block title_i18n %}common.company__plural{% endblock %}


{% block content_fluid %}

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.core.add_empresa %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'empresa_create' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">{% translate "empresas"|capfirst %}</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <div class="container-fluid pt-3">
        {{ table.render_filter|safe }}
        {% render_table table %}
    </div>
  </div>
</div>
{% endblock%}

<script>
    {% block add_script %}
    {% endblock %}
</script>