{% extends "layout/app.html" %}
{% load static %}
{% block title %}Empresas{% endblock %}
{% block title_i18n %}common.company{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.core.add_filial %}
      <li class="nav-item ms-1"><a class="nav-link active" id="add" href="{% url 'filial_create' empresa.id|safe %}"><i class="bi bi-plus-square-fill text-success me-2"></i> <span class="text-success-emphasis">Filial</span></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" id="back" href="{% url 'empresa_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
      {% if perms.core.delete_empresa %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal">Excluir Empresa</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <form id="app_form" action="{% url 'empresa_update' empresa.id|safe %}" enctype="multipart/form-data" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'core/_form_empresa.html' %}
  </form>
</div>

{% if perms.core.delete_empresa %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-octagon-fill text-danger me-2"></i> Excluir Registro</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do registro?</p>
        <div class="row mt-2">
          <div class="col text-end">
            <form action="{% url 'empresa_delete' empresa.id|safe %}" method="POST">
              {% csrf_token %}
              <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
              <button class="btn btn-danger px-3" type="submit">Excluir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}

  const cnpj = IMask(document.getElementById('id_cnpj_base'),{mask: '00.000.000/0000'})
  const form = new jsForm(document.getElementById('app_form'), {imask: [cnpj]});
  const table = new jsTable('#filiais_list', {})
  {% endblock %}
</script>