{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Filial' %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/tomselect.css' %}">
{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'empresa_update' empresa.id|safe %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'filial_create' empresa.id|safe %}" method="POST" autocomplete="off" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'core/_form_filial.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/vendor/tomselect.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    document.getElementById('id_cnpj').value = '{{empresa.cnpj_base}}';
    const cnpj = IMask(document.getElementById('id_cnpj'),{mask: '00.000.000/0000-00'})
    const cep = IMask(document.getElementById('id_cep'),{mask: '00.000-000'})
    const fone = IMask(document.getElementById('id_fone'),{mask: [{mask: '(00) 0000-0000'}, {mask: '(00) 00000-0000'}]})
    const fax = IMask(document.getElementById('id_fax'),{mask: '(00) 0000-0000'})
    
    const form = new jsForm(document.getElementById('app_form'), {imask: [cnpj, cep, fone, fax]});

    const fuso_horario = new TomSelect("#id_fuso_horario",{ create: false, allowEmptyOption: true });
    {% endblock %}
</script>