{% extends "layout/app.html" %}
{% load static %}
{% block title %}Grupos{% endblock %}
{% block title_i18n %}common.group__plural{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.auth.add_group %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'core_grupo_add' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=auth.group&mensagem=DELETE" target="_blank" data-i18n="sys.exclusionLogs">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">Grupos</h5>
    <div class="row">
      <div class="col-lg order-2 order-lg-1">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          <table id="main_table" class="table border table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th data-i18n="common.name__posfix:*">Nome</th>
                <th data-i18n="common.user__plural">Usuários</th>
                {% if perms.auth.change_group %}
                <th>&nbsp;</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for grupo in grupos %}
              <tr>
                <td>{{grupo.id|safe}}</td>
                <td>{{grupo.name}}</td>
                <td>{{grupo.user_set.count}}</td>
                <td class="text-end fit py-1">
                  {% if perms.auth.change_group %}
                  <a class="btn btn-sm btn-dark" href="{% url 'core_grupo_id' grupo.id|safe %}"><i class="bi bi-pen-fill"></i></a>
                  {% endif %}
                  <a class="btn btn-sm btn-warning" href="{% url 'core_usuarios_grupo' grupo.id|safe %}" title="Usuarios do grupo"><i class="bi bi-people-fill"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2" style="min-width: 200px;">
        <div class="filter-container">
          <h6 class="text-body-secondary d-flex justify-content-between">Filtros:<a class="text-body-secondary text-decoration-none fs-8" href="{% url 'core_grupos' %}">Limpar</a></h6>
          <ul class="list-unstyled">
            <li><span id="id_sem_associacoes" class="link pointer" onclick="urlFilter('users','false')">Sem Usuários</span></li>
            <li><hr class="my-1"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  const grupo_filters = {'users=false':'id_sem_associacoes'}
  urlSetFiltersActive(grupo_filters);
  
  const table = new jsTable(document.getElementById('main_table'), {
    canFilter: true,
    filterCols: ['Nome']
  });
  
  {% endblock %}
</script>