{% extends "layout/app.html" %}
{% load static %}
{% load django_tables2 %}
{% block title %}Grupos{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.auth.add_group %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'grupo_create' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">Grupos</h5>
    <div class="row">
      <div class="col-lg order-2 order-lg-1">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          <div class="table-responsive">
            {{ table.render_filter|safe }}
            {% render_table table %}
          </div>
        </div>
      </div>
      <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2" style="min-width: 200px;">
        <div class="filter-container">
          <h6 class="text-body-secondary d-flex justify-content-between"><span >Filtros</span><a class="text-body-secondary text-decoration-none fs-8" href="{{request.path}}">Limpar</a></h6>
          <ul class="list-unstyled">
            <li><hr class="my-1"></li>
            <li><span id="id_sem_associacoes" class="link pointer" onclick="urlFilter('users_isnull','true')">Sem Usuários</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  const grupo_filters = {'users=false':'id_sem_associacoes'}
  urlSetFiltersActive(grupo_filters);
  {% endblock %}
</script>