{% extends "layout/app.html" %}
{% load static %}
{% block title %}Grupo{% endblock %}
{% block title_i18n %}common.group{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'grupos' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'grupo_add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'core/_form_grupo.html' %}
  </form>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}

  let options = {};
  {% for perm in permissions %}
    options[{{perm.pk|safe}}] = {
      value: '{{perm.pk|safe}}',
      text: '<span class="text-purple">{{perm.content_type.model}}</span>: {{perm.name}}',
      'data-group': '{{perm.content_type.app_label}}'
    }
  {% endfor %}

  
  const select = new jsSelectm('#id_permissions', {
    title: 'Permissões',
    options: options,
    canFilter: true
  });
  
  {% endblock %}
</script>