{% extends "layout/app.html" %}
{% load static %}
{% block title %}Eru{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="row">
    <div class="col"></div>
    <div class="col-2">
        <ul class="list-unstyled">
            <li><h6>Handler's</h6></li>
            <li><a href="{% url 'handler' 900 %}">900</a></li>
        </ul>
    </div>
</div>
{% endblock%}
  



{% block add_script_src %}{% endblock %}
<script>
{% block add_script %}



// const teste = IMask(
// document.getElementById('teste'),
// {
//     // mask: [{mask: '(00) 0000-0000'}, {mask: '(00) 00000-0000'}],
//     mask: Number,
//     // min: 1,
//     // max: 9999,
//     scale: 2,
//     // thousandsSeparator: '.',
//     // radix: ',',
//     // mapToRadix: ['.',','],
//     padFractionalZeros: true,
//     // normalizeZeros: true,
//     // lazy: false,  // make placeholder always visible
//     // placeholderChar: '_'     // defaults to '_'
// }).on('accept', function() {
//     if(teste.value != ''){teste.el.input.classList.add('is-invalid');}
//     else{teste.el.input.classList.remove('is-invalid');}
// }).on('complete', function(){teste.el.input.classList.remove('is-invalid')})

// formValidate(document.querySelector('form'));

{% endblock %}
</script>