{% extends "layout/app.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Jobs{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link pointer" id="back" title="ALT + V" onclick="window.close();"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title">Processos de Servidor</h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <table id="main_table" class="table table-sm border table-striped table-hover">
                <thead>
                    <tr>
                        <th>Modulo</th>
                        <th>Referência</th>
                        <th class="d-none d-md-table-cell">Inicio</th>
                        <th class="d-none d-lg-table-cell">Termino</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{job.modulo}}</td>
                        <td>{{job.referencia}}</td>
                        <td class="d-none d-md-table-cell">{{job.inicio|date:'d/m H:i:s'}}</td>
                        <td class="d-none d-lg-table-cell">{{job.termino|date:'d/m H:i:s'}}</td>
                        <td>{{job.status|safe}}</td>
                        <td>
                            {% if job.anexo %}
                                <a class="btn btn-sm btn-phanton" href=""><i class="bi bi-paperclip"></i></a>
                            {% endif %}
                            {% if job.erros|replace:'",'|length > 0 %}
                                <button role="button" class="btn btn-sm btn-phanton-danger" onclick="exibirErros('{{ job.erros|safe }}')"><i class="bi bi-bug-fill"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<dialog id="erros">
    <h5>Erros identificados</h5>
    <hr>
    <div id="erros_list"></div>
</dialog>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    const table = new jsTable(document.getElementById('main_table'),{
        canFilter: true,
        filterCols: ['Objeto', 'Operacao', 'Usuario'],
        enablePaginate: true,
        rowsPerPage: 20,
    });

    function exibirErros(msg){
        document.getElementById('erros_list').innerHTML = msg.replaceAll(';','<br>');
        erros.showModal();
    }
    
    {% endblock %}
</script>