{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load tag_extra %}
{% load django_tables2 %}
{% load ui_components %}
{% block title %}Logs{% endblock %}
{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">{% translate 'Logs' %}</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <form id="filterForm" action="{% url 'logs' %}" method="GET" autocomplete="off">
        {% csrf_token %}
        <div class="row">
          <div class="col bg-body-secondary py-2">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                  <input type="date" id="id_timestamp_min" name="timestamp_min" class="form-control" autofocus>
                </div>            
              <div class="btn-group me-2" role="group">
                <input type="date" id="id_timestamp_max" name="timestamp_max" class="form-control">
              </div>            
              <div class="input-group me-2" role="group">
                <span class="input-group-text fs-7">{% translate 'Ação' %}</span>
                <select name="action" id="id_action" class="form-select form-select-sm">
                  <option value="" selected>{% translate 'Todos' %}</option>
                  <option value="0">{% translate 'Criar' %}</option>
                  <option value="1">{% translate 'Atualizar' %}</option>
                  <option value="2">{% translate 'Excluir' %}</option>
                </select>
              </div>            
              <div class="btn-group me-2" role="group">
                <div class="input-group">
                  <input type="number" name="entries" id="id_entries" class="form-control" value="100" style="width: 80px;" placeholder="Entradas">
                  <span class="input-group-text fs-7" >{% translate 'entradas' %}</span>
                </div>
              </div>
              <div class="btn-group me-2" role="group">
                <input type="text" name="actor" id="id_actor" class="form-control" value="" style="width: 150px;" placeholder="{% translate 'Usuário' %}">
              </div>
              <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-sm btn-dark border" title="Limpar filtros" onclick="appKeyMap.run('alt+l')" tabindex="-1"><i class="bi bi-eraser-fill"></i></button>
                <button type="submit" id="auto_filter_form_submit" class="btn btn-sm btn-dark border">{% translate 'Filtrar' %}</button>
              </div>
              {% if table.rows|length > 0 %}
              <div class="btn-group ms-auto" role="group">
                <button type="button" class="btn btn-sm btn-dark border" disabled>{{ table.rows|length }}</button>
                <button  class="btn btn-sm btn-dark border dropdown-toggle" data-bs-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item fs-7" id="download" type="submit" name="_export" value="csv" data-format="CSV"><i class="bi bi-download me-2"></i>{% translate 'Baixar' %} CSV</button></li>
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-auto">
            <select name="content_type" id="id_content_type" style="display: none;" multiple>
              {% for app, models_in_app in grouped_models.items %}
              <optgroup label="{{app|capfirst}}">
                {% for model in models_in_app %}
                <option value="{{model.id}}">{{model.model|capfirst}}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg border-start mt-3 mt-lg-0 pt-0">
            <div class="table-responsive-lg">
              {% render_table table %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="detail_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <h6>{% translate 'Detalhes' %}</h6>
        <hr>
        <p class="fw-bold text-body-secondary" id="log_detail_message"></p>
        <table class="table table-sm border table-striped">
          <thead>
            <tr>
              <th>{% translate 'Campo' %}</th>
              <th>{% translate 'Antes' %}</th>
              <th>{% translate 'Depois' %}</th>
            </tr>
          </thead>
          <tbody id="log_detail_tbody"></tbody>
        </table>
      </div>
      <div class="modal-footer py-1">
        {% btn_tag _('Fechar') class="btn btn-sm btn-secondary" data_bs_dismiss="modal"  %}
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}  
  
  const form = new jsForm('#filterForm', {})
  form.load({{data|safe}});
  if(!form.timestamp_min.value){ form.timestamp_min.value = dateToday({native: true, days:-1}) }
  if(!form.timestamp_max.value){ form.timestamp_max.value = dateToday({native: true}) }

  const modelos = new jsSelectm('#id_content_type', { sort: true })
  
  const logs_tbody = document.getElementById('log_detail_tbody');
  const logs_message = document.getElementById('log_detail_message');
  const detailModal = new bootstrap.Modal('#detail_modal', {})
  detailModal._element.addEventListener('hide.bs.modal', ()=>{appKeyMap.setContext()})
  
  function showDetails(el){
    const row = el.closest('tr');
    const rawJson = row.querySelector('.col-changes').textContent;
    let data = JSON.parse(rawJson)
    logs_tbody.innerHTML = '';
    for(let key in data){
      if(Array.isArray(data[key])){  
        logs_tbody.innerHTML += `<tr><td class="bg-secondary-subtle">${key}</td><td class="text-body-secondary">${data[key][0] || '<i>null</i>'}</td><td>${data[key][1].replace('None', '<i>null</i>')}</td></tr>`;
      }
      else if(data[key]?.type == 'm2m'){
        logs_tbody.innerHTML += `<tr><td class="bg-secondary-subtle">${key} M2M</td><td colspan="2"><b class="text-purple me-2">${data[key]['operation']}:</b> ${data[key]['objects'].join(';')}</td></tr>`;
        
      }
    }
    const default_message = "{% translate 'Total de $(qtde) campos afetados'|escapejs %}.";
    logs_message.innerHTML = default_message.replace('$(qtde)', `<span class="text-orange">${String(Object.entries(data).length).padStart(2, '0')}</span>`)
    appKeyMap.setContext('logs_modal');
    detailModal.show();
  }
  
  {% endblock %}
</script>