{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load ui_components %}
{% block title %}Configurações{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'index' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'settings' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-4">{% translate 'Configurações' %}: <b class="text-orange">CORE</b></h5>
            <div class="tab-pane fade show active" id="base" role="tabpanel">
                <h6 class="mt-4">{% translate 'Autentição e Senhas' %}</h6>
                <div class="row mb-2">
                    <div class="col-lg-auto">
                        <div class="input-group input-group-sm">
                            {{ form.quantidade_caracteres_senha }}
                            <span class="input-group-text">{% translate 'Quantidade mínima de caracteres' %}</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-lg-auto">
                        <div class="input-group input-group-sm">
                            {{ form.historico_senhas_nao_repetir }}
                            <span class="input-group-text">{% translate 'Manter histórico últimas senhas' %}**</span>
                        </div>
                        <small class="text-secondary">{% translate 'Usuário não poderá repetir senhas do histórico' %}</small><br>
                        <small class="text-secondary"><i class="bi bi-info-circle me-2 text-body"></i>{% translate 'Digite 0 (zero) para desativar verificação' %}</small>
                    </div>
                </div>
                <div class="form-check form-switch mt-3">
                    {{ form.senha_exige_alpha }}
                    <label class="form-check-label" for="id_senha_exige_alpha">Exigir alpha na senha</label>
                </div>
                <div class="form-check form-switch">
                    {{ form.senha_exige_maiuscula }}
                    <label class="form-check-label" for="id_senha_exige_maiuscula">Exigir caracteres maiusculos e minusculos</label>
                </div>
                <div class="form-check form-switch">
                    {{ form.senha_exige_numero }}
                    <label class="form-check-label" for="id_senha_exige_numero">Exigir número na senha</label>
                </div>
                <div class="form-check form-switch">
                    {{ form.senha_exige_caractere }}
                    <label class="form-check-label" for="id_senha_exige_caractere">Exigir caracteres especiais na senha</label>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-auto">
                        <div class="input-group input-group-sm">
                            {{ form.quantidade_tentantivas_erradas }}
                            <span class="input-group-text">bloquear em tentativas erradas**</span>
                        </div>
                        <small class="text-secondary">Altere para 0 (zero) para desativar bloqueio</small>
                    </div>
                </div>
                
            </div>
            <!-- CONTROLES DO FORM -->
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"{% if not perms.core.change_settings %} disabled{% endif %}><b>G</b>ravar</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm(document.getElementById('app_form'), {})
  {% endblock %}
</script>