{% extends "layout/app.html" %}
{% load static %}
{% block title %}Usuario{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_usuarios' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'core_usuario_add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'core/_form_usuario.html' %}
  </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm(document.getElementById('app_form'), {
    selectPopulate: [
      {target: document.getElementById('id_empresas'), url: '{% url 'core_get_empresas' %}', params: 'usuario=new',then: ()=>{const selectEmpresas = new jsSelectm(document.getElementById('id_empresas'),{emptySelectMessage: '<small class="text-body-secondary">Nenhuma empresa disponivel</small>'});}},
      {target: document.getElementById('id_grupos'), url: '{% url 'core_get_grupos' %}', params: 'usuario=new', value: 'name', then: ()=>{const selectGrupos = new jsSelectm(document.getElementById('id_grupos'), {canFilter: true, emptySelectMessage: '<small class="text-body-secondary">Nenhum grupo cadastrado</small>'});}},
      {
        target: document.getElementById('id_perms'),
        url: '{% url 'core_get_user_perms' %}',
        params: 'usuario=new',
        then: (data)=>{
          let permsGroups = {};
          let perms = {};
          for(item in data){
            let nome_split = data[item].fields.nome.split(' | ');
            // Verifica se grupo ja foi iniciado, se sim adiciona item no grupo
            if(permsGroups.hasOwnProperty(nome_split[0])){permsGroups[nome_split[0]].push(`${data[item].pk}`)}
            else{permsGroups[nome_split[0]] = [`${data[item].pk}`]} // Caso nao, inicia grupo
            perms[data[item].pk] = `<span class="text-purple">${nome_split[1]}</span>: ${nome_split[2]}`;
          }
          const selectPerms = new jsSelectm(document.getElementById('id_perms'), {
            reorderOptions: false,
            options: perms,
            canFilter: true,
            groups: permsGroups,
            wrapperClassList: 'jsSelectm_wrapper border-0 p-0',
            emptySelectMessage: '<small class="text-body-secondary">Nada a exibir</small>'
          });
        }
      }
    ]
  })
  
  {% endblock %}
</script>