{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Usuário' %}{% endblock %}
{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" href="{% url 'usuario_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'usuario_create' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'core/_form_usuario.html' %}
  </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm(document.getElementById('app_form'), {})
  const filiais = new jsSelectm('#id_filiais', {})
  const grupos = new jsSelectm('#id_groups', {})
  const permissoes = new jsSelectm('#id_user_permissions', { canFilter: true })
  
  {% endblock %}
</script>