{% extends "layout/app.html" %}
{% load static %}
{% block title %}Usuario{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_usuarios' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal">Historico</a></li>
          {% if perms.auth.delete_user %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal">Excluir Usuario</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'core_usuario_update' usuario.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'core/_form_usuario.html' %}
  </form>
</div>

{% if perms.auth.delete_user %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-triangle-fill text-danger me-2"></i> Excluir Usuário</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do usuário?</p>
        <div class="row mt-2">
          <div class="col text-end">
            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
            <a class="btn btn-danger px-3" href="{% url 'core_usuario_delete' usuario.id|safe %}">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="modal fade" id="history_modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Histórico <sup>(last 15)</sup></h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Data</th>
              <th>Operação</th>
              <th>Usuário</th>
            </tr>
          </thead>
          <tbody class="fs-7">
            {% for i in usuario.profile.ultimas_alteracoes %}
            <tr>
              <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
              <td>{{i.mensagem}}</td>
              <td>{{i.usuario.username|upper|default:'None'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm(document.getElementById('app_form'), {
    selectPopulate: [
      {
        target: document.getElementById('id_empresas'),
        url: '{% url 'core_get_empresas' %}',
        params: 'usuario=new',
        then: ()=>{
          let empresasUsuario = [] // Armazena empresas atuais habilitadas para o usuario
          {% for empresa in usuario.profile.empresas.all %}
          empresasUsuario.push('{{empresa.id|safe}}');
          {% endfor %}
          let selectEmpresas = new jsSelectm(document.getElementById('id_empresas'),{
            optionsSelected: empresasUsuario,
            emptySelectMessage: '<small class="text-body-secondary">Nenhuma empresa disponivel</small>'
          });
          selectEmpresas.rebuildTargetOptions(); // Remonta input somente com opcoes habilitadas para usuario
        }
      },
      {% if not usuario.is_superuser %}
      {
        target: document.getElementById('id_grupos'),
        url: '{% url 'core_get_grupos' %}',
        params: 'usuario=new',
        value: 'name',
        then: ()=>{
          let gruposUsuario = [] // Armazena os grupos atuais do usuario
          {% for grupo in usuario.groups.all %}
          gruposUsuario.push('{{grupo.id|safe}}');
          {% endfor %}
          let selectGrupos = new jsSelectm(document.getElementById('id_grupos'), {
            optionsSelected: gruposUsuario,
            // title: 'Meu titulo',
            canFilter: true,
            emptySelectMessage: '<small class="text-body-secondary">Nenhum grupo cadastrado</small>'
          });
          selectGrupos.rebuildTargetOptions(); // Remonta input somente com opcoes habilitadas para usuario
        }
      },
      {
        target: document.getElementById('id_perms'),
        url: '{% url 'core_get_user_perms' %}',
        params: 'usuario=new',
        then: (data)=>{
          let permsGroups = {};
          let perms = {};
          let permsUsuario = [] // Armazena os perms atuais do usuario
          {% for perm in usuario.user_permissions.all %}
          permsUsuario.push('{{perm.pk|safe}}');
          {% endfor %}
          for(item in data){
            let nome_split = data[item].fields.nome.split(' | ');
            // Verifica se grupo ja foi iniciado, se sim adiciona item no grupo
            if(permsGroups.hasOwnProperty(nome_split[0])){permsGroups[nome_split[0]].push(`${data[item].pk}`)}
            else{permsGroups[nome_split[0]] = [`${data[item].pk}`]} // Caso nao, inicia grupo
            perms[data[item].pk] = `<span class="text-purple">${nome_split[1]}</span>: ${nome_split[2]}`;
          }
          let selectPerms = new jsSelectm(document.getElementById('id_perms'), {
            reorderOptions: false,
            options: perms,
            groups: permsGroups,
            canFilter: true,
            optionsSelected: permsUsuario,
            wrapperClassList: 'jsSelectm_wrapper border-0 p-0',
            emptySelectMessage: '<small class="text-body-secondary">Nada a exibir</small>'
          });
          selectPerms.rebuildTargetOptions(); // Remonta input somente com opcoes habilitadas para usuario
        }
      }
      {% endif %}
    ]
  })  
  {% endblock %}
</script>