{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% block title %}{% translate 'Usuário'|escapejs %}{% endblock %}
{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.auth.add_user %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'usuario_create' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">{% translate 'Usuários'|escapejs %}</h5>
    <div class="row">
      <div class="col-lg order-2 order-lg-1">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          {{ table.render_filter|safe }}
          <div class="table-responsive">
            {% render_table table %}
          </div>
        </div>
      </div>
      <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2" style="min-width: 200px;">
        <div class="filter-container">
          <h6 class="text-body-secondary d-flex justify-content-between">{% translate 'Filtros'|escapejs %}<a class="text-body-secondary text-decoration-none fs-8" id="clear" href="{% url 'usuario_list' %}">{% translate 'Limpar'|escapejs %}</a></h6>
          <ul class="list-unstyled">
            <li><a href="#" id="id_ativos" onclick="urlFilter('is_active','True')">{% translate 'Ativos'|escapejs %}</a></li>
            <li><a href="#" id="id_bloqueados" onclick="urlFilter('is_active','False')">{% translate 'Bloqueados'|escapejs %}</a></li>
            <li><a href="#" id="id_superuser" onclick="urlFilter('is_superuser','True')">{% translate 'Superusuario'|escapejs %}</a></li>
            <li><a href="#" id="id_staff" onclick="urlFilter('is_staff','True')">{% translate 'Membro de Equipe'|escapejs %}</a></li>
            <li><hr class="my-1"></li>
            <li><a href="#" id="id_inativos" onclick="inativosFilter(-30);">{% translate 'Inativo +30 dias'|escapejs %}</a></li>
            <li><a href="#" id="id_nunca_logado" onclick="urlFilter('never_login','True');">{% translate 'Sem registro de login'|escapejs %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  
  const usuario_filters = {
    'is_active=True':'id_ativos',
    'is_active=False':'id_bloqueados',
    'is_superuser':'id_superuser',
    'is_staff':'id_staff',
    'last_login__lte':'id_inativos',
    'last_login':'id_nunca_logado'
  }
  urlSetFiltersActive(usuario_filters);
  
  function inativosFilter(days){
    urlFilter('last_login__lte', `${dateToday({days: days, native: true})}`);
  }
  {% endblock %}
</script>