{% extends "layout/app.html" %}
{% load static %}
{% block title %}Grupo{% endblock %}
{% block title_i18n %}common.group{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'grupos' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title">Grupo: <b class="text-purple">{{grupo.name}}</b></h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <table id="main_table" class="table border table-striped table-hover">
                <thead>
                    <tr>
                        <th class="fit pe-4">Seq</th>
                        <th>Username</th>
                        <th>Status</th>
                        {% if perms.auth.change_user %}
                        <th>&nbsp;</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.is_active|yesno:'<b class="text-success">ATIVO</b>,<b class="text-danger">INATIVO</b>'|safe}}</td>
                        {% if perms.auth.change_user %}
                        <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'usuario_id' usuario.id|safe %}"><i class="bi bi-link"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
    const table = new jsTable(document.getElementById('main_table'),{
        canFilter: true,
        filterCols: ['Username']
    });
{% endblock %}
</script>