{% extends "layout/app.html" %}
{% load static %}
{% block title %}Usuario{% endblock %}
{% block title_i18n %}common.user{% endblock %}

{% block canvas_menu %}{% include '_component/menu/core.html' %}{% endblock %}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'usuarios' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal">Historico</a></li>
          {% if perms.auth.delete_user %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal">Excluir Usuario</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'usuario_update' usuario.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'core/_form_usuario.html' %}
  </form>
</div>

{% if perms.auth.delete_user %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-triangle-fill text-danger me-2"></i> Excluir Usuário</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do usuário?</p>
        <div class="row mt-2">
          <div class="col text-end">
            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
            <a class="btn btn-danger px-3" href="{% url 'usuario_delete' usuario.id|safe %}">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="modal fade" id="history_modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Histórico <sup>(last 15)</sup></h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Data</th>
              <th>Operação</th>
              <th>Usuário</th>
            </tr>
          </thead>
          <tbody class="fs-7">
            {% for i in usuario.profile.ultimas_alteracoes %}
            <tr>
              <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
              <td>{{i.mensagem}}</td>
              <td>{{i.usuario.username|upper|default:'None'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm(document.getElementById('app_form'), {
    selectPopulate: [
      {
        target: document.getElementById('id_empresas'),
        url: '{% url 'get_empresas' %}',
        params: 'usuario=new',
        then: ()=>{
          let selected = []; // Armazena empresas atuais habilitadas para o usuario
          {% for empresa in usuario.profile.empresas.all %} selected.push('{{empresa.id|safe}}'); {% endfor %}
          
          window.selectEmpresas = new jsSelectm(document.getElementById('id_empresas'),{
            selected: selected,
          });
        }
      },
      {% if not usuario.is_superuser %}
      {
        target: document.getElementById('id_grupos'),
        url: '{% url 'get_grupos' %}',
        params: 'usuario=new',
        value: 'name',
        then: ()=>{
          let selected = [] // Armazena os grupos atuais do usuario
          {% for grupo in usuario.groups.all %} selected.push('{{grupo.id|safe}}'); {% endfor %}
          window.selectGrupos = new jsSelectm(document.getElementById('id_grupos'), {
            selected: selected,
            canFilter: true,
          });
        }
      },
      {
        target: document.getElementById('id_perms'),
        url: '{% url 'get_user_perms' %}',
        params: 'usuario=new',
        then: (data)=>{
          let options = {};
          let selected = [] // Armazena os perms atuais do usuario
          {% for perm in usuario.user_permissions.all %} selected.push('{{perm.pk|safe}}'); {% endfor %}
          for(item in data){
            let opt = { value: String(data[item].pk), 'data-group': String(data[item].fields.app_label) };
            opt.text = `<span class="text-purple">${data[item].fields.app_label}</span>: ${data[item].fields.description}`;
            options[String(data[item].pk)] = opt;
          }
          window.selectPerms = new jsSelectm(document.getElementById('id_perms'), {
            sort: false,
            options: options,
            canFilter: true,
            selected: selected,
          });
        }
      }
      {% endif %}
    ]
  })  
  {% endblock %}
</script>