{% extends "layout/app.html" %}
{% load static %}
{% block title %}998{% endblock %}
{% block nav_title %}998{% endblock %}

{% block content_fluid %}

<div id="from" style="" class="position-absolute bg-info border p-4">FOO</div>
<div id="to" style="top: 800px; right: 20px;" class="position-absolute bg-success border p-4">BAR</div>
{% endblock %}

{% block add_script_src %}
<script src="{% static 'js/elConnector.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}

const arrow = new jsELConnector({
    from: document.getElementById('from'),
    to: document.getElementById('to'),
    style: 'linear',
    // lineH: '22px'
})
    
    {% endblock %}
</script>