{% extends "layout/app.html" %}
{% load static %}
{% block title %}998{% endblock %}
{% block nav_title %}998{% endblock %}

{% block content_fluid %}
<form action="">
    <input type="text" id="nome" class="form-control" placeholder="nome" autofocus />
    <input type="text" id="cpf" class="form-control" placeholder="cpf" />
    <button type="button" class="btn btn-success mt-2">Concluir</button>
</form>
{% endblock %}

{% block add_script_src %}{% endblock %}

<script>
    {% block add_script %}

    appKeyMap.bind('g+i',()=>{
        appNotify('success', 'Precionado...')
    },{
        desc: 'Teste de atalhos',
        element: document.getElementById('cpf'),
    })

    {% endblock %}
</script>