{% extends "layout/app.html" %}
{% load static %}
{% block title %}Handler: 999{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/docs.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/prism.css' %}">
{% endblock %}

{% block content_fluid %}
<h5 class="mt-3">Handler: <b class="text-purple">999</b></h5>
<hr>
<div class="alert alert-dark">
    <div class="row">
        <div class="col">Foo</div>
        <div class="col-auto">
            <button class="btn btn-phanton" style="margin: -8px 0;"><i class="bi bi-person-fill"></i></button>
            <button class="btn btn-phanton btn-phanton-success" style="margin: -8px 0;"><i class="bi bi-info-circle-fill"></i></button>
        </div>
    </div>
</div>
<h5>jsForm:</h5>
<div class="row">
    <div class="col">
        <form id="my_form" action="">
            <div class="row g-1">
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="text" name="nome" id="id_nome" class="form-control" minlength="4" maxlength="18" required autofocus>
                    <label for="id_nome">Nome</label>
                </div>
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="text" name="cpf" id="id_cpf" class="form-control">
                    <label for="id_cpf">CPF</label>
                </div>
                <div class="form-floating mb-1 col-lg">
                    <select class="form-select" id="id_empresa" name="empresa"></select>
                    <label for="id_empresa">Empresa</label>
                </div>
            </div>
            <div class="row g-1">
                <div class="form-floating mb-lg-1 col-lg-2">
                    <input type="number" name="idade" id="id_idade" min="18" max="65" class="form-control">
                    <label for="id_idade">Idade</label>
                </div>
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="password" name="senha" id="id_senha" class="form-control" required>
                    <label for="id_senha">Senha</label>
                </div>
                <div class="form-floating mb-1 col-lg">
                    <input type="email" name="email" id="id_email" class="form-control">
                    <label for="id_email">Email</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-sm btn-primary" id="submit" type="submit"><b>G</b>ravar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<pre class="mt-3"><code class="language-javascript">const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
const form = new jsForm(document.getElementById('my_form'), {
    imask: [cpf],
    selectPopulate: [
        {target: document.getElementById('id_empresa'), url: '{% url 'core_get_empresas' %}'}
    ],
    customValidation: {
        'senha': (v)=>{
            let resp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(v);
            return [resp, 'Senha deve ser no mínimo de 6 caracteres, conter números, letras maiusculas e minusculas'];
        }
    }
})</code></pre>


<h5>iMask</h5>
<pre><code class="language-javascript">const field = IMask(
document.getElementById('id_field'),
{
    mask: [{mask: '(00) 0000-0000'}, {mask: '(00) 00000-0000'}],
    mask: Number,
    min: 1,
    max: 9999,
    scale: 2,
    thousandsSeparator: '.',
    radix: ',',
    mapToRadix: ['.',','],
    padFractionalZeros: true,
    normalizeZeros: true,
    lazy: false,  // make placeholder always visible
    placeholderChar: '_'     // defaults to '_'
}).on('accept', function() {
    if(field.value != ''){field.el.input.classList.add('is-invalid');}
    else{field.el.input.classList.remove('is-invalid');}
}).on('complete', function(){field.el.input.classList.remove('is-invalid')})</code></pre>
<p class="mt-3">Se usado em conjunto a lib <code>jsForm</code> não é necessário fazer o processo de validação, apenas informar ao instanciar o form os componentes imask</p>
<pre><code class="language-javascript">const fone = IMask(document.getElementById('id_fone'), {mask: [{mask: '(00) 0000-0000'},{mask: '(00) 00000-0000'}]})</code></pre>
<pre><code class="language-javascript">const form = new jsForm(meu_form, {imask: [fone, cpf]})</code></pre>
<h5>listener</h5>
<pre><code class="language-javascript">appKeyMap.bind({key: 'y', alt: true, run: ()=>{...}, name: 'Nome', desc: 'Descrição abreviada'})</code></pre>
<small>Listener responde ao comando <kbd class="mx-2">Alt + Y</kbd>, os campos <code>name</code> e <code>desc</code> são opcionais, apenas para exibição na tela de atalhos</small>
<div class="callout callout-primary mt-4"><i class="bi bi-exclamation-circle-fill me-2"></i> Para exibir os atalhos cadastrados use o comando <code>appKeyMap.showKeymap()</code> <button type="button" class="btn btn-sm btn-primary" onclick="appKeyMap.showKeymap()">Ver</button></div>

<p class="mt-4">Use a opção: <code>visible: <b class="text-orange">false</b></code> para não exibir atalho na lista de atalhos</p>
<pre><code class="language-javascript">appKeyMap.bind({key: 'f', run: ()=>{...}, visible: false})</code></pre>

<small class="d-block mt-4"><i class="bi bi-arrow-right"></i> Outros recursos:</small>
<pre class="mt-0"><code class="language-javascript">appKeyMap.unbind({key: 'f', alt: true}) // Remove atalho alt + f
appKeyMap.unbind('fTFF') // Usando alias
appKeyMap.unbindAll() // Limpa TODOS os atalhos
appKeyMap.avail({key : 'f', alt: true}) // Retorna booleano se atalho esta disponivel
appKeyMap.avail('fTFF') // Usando o alias
appKeyMap.getMap() // Retorna dicionario com todos os atalhos</code></pre>

<h5>nav</h5>
<h5>jsForm</h5>
<h5>jsGrid</h5>



{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/prism.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
<!-- <script src="{% static 'js/table.js' %}"></script> -->
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/docs.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}

const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
const form = new jsForm(document.getElementById('my_form'), {
    imask: [cpf],
    novalidate: true,
    selectPopulate: [
        {target: document.getElementById('id_empresa'), url: '{% url 'core_get_empresas' %}'}
    ],
    customValidation: {
        'senha': (v)=>{
            let resp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(v);
            return [resp, 'Senha deve ser no mínimo de 6 caracteres, conter <b>números</b>, letras <b>maiusculas</b> e <b>minusculas</b>'];
        }
    }
})

{% endblock %}
</script>