{% extends "layout/app.html" %}
{% load static %}
{% block title %}Handler: 900{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/docs.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/prism.css' %}">
{% endblock %}

{% block content_fluid %}
<h5 class="mt-3">Handler: <b class="text-purple">900</b></h5>
<hr>
<h6>jsForm</h6>
<pre><code class="language-html">const p = foo()</code></pre>

<h6>iMask</h6>


{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/prism.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
addOnCopyToClipboard();


{% endblock %}
</script>