{% extends "layout/app.html" %}
{% load static %}
{% block title %}Handler: 999{% endblock %}



{% block style_src %}
<link rel="stylesheet" href="{% static 'css/docs.css' %}">
<link rel="stylesheet" href="{% static 'css/charts.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/prism.css' %}">
{% endblock %}

{% block content_fluid %}
<h5 class="mt-3">Handler: <b class="text-purple">999</b></h5>
<hr>
<input type="month" class="form-control">
<h5>jsForm:</h5>
<div class="row">
    <div class="col">
        <form id="my_form" action="" autocomplete="off">
            <div class="row g-1">
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="text" name="nome" id="id_nome" class="form-control" data-i18n="[placeholder]common.name" minlength="4" value=""  placeholder=" " required autofocus>
                    <label for="id_nome" data-i18n="common.name">Nome</label>
                </div>
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="text" name="cpf" id="id_cpf" class="form-control" placeholder=" ">
                    <label for="id_cpf">CPF</label>
                </div>
                <div class="form-floating mb-1 col-lg">
                    <select class="form-select" id="id_empresa" name="empresa"></select>
                    <label for="id_empresa">Empresa</label>
                </div>
            </div>
            <div class="row g-1">
                <div class="form-floating mb-lg-1 col-lg-2">
                    <input type="number" name="idade" id="id_idade" data-i18n="common.age" max="65" class="form-control" placeholder=" ">
                    <label for="id_idade" data-i18n="common.age">Idade</label>
                </div>
                <div class="form-floating mb-lg-1 col-lg-3">
                    <input type="password" name="senha" id="id_senha" class="form-control" placeholder=" " required>
                    <label for="id_senha">Senha</label>
                </div>
                <div class="form-floating mb-1 col-lg">
                    <input type="email" name="email" id="id_email" class="form-control" placeholder=" ">
                    <label for="id_email">Email</label>
                </div>
                <div class="form-floating mb-1 col-lg-2">
                    <input type="text" name="salario" id="id_salario" class="form-control" placeholder=" " data-jsForm_unmask="cur">
                    <label for="id_salario">Salario</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea name="area" id="id_area" class="form-control" data-keywatch="none"></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-sm btn-primary" id="submit" type="submit"><b>G</b>ravar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<pre class="mt-3"><code class="language-javascript">const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
const form = new jsForm(document.getElementById('my_form'), {
    imask: [cpf],
    selectPopulate: [
        {target: document.getElementById('id_empresa'), url: '{# url 'get_empresas' #}'}
    ],
    customValidation: {
        'senha': (v)=>{
            let resp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(v);
            return [resp, 'Senha deve ser no mínimo de 6 caracteres, conter números, letras maiusculas e minusculas'];
        }
    }
})</code></pre>


<h5>iMask</h5>
<pre><code class="language-javascript">const field = IMask(
document.getElementById('id_field'),
{
    mask: [{mask: '(00) 0000-0000'}, {mask: '(00) 00000-0000'}],
    mask: Number,
    min: 1,
    max: 9999,
    scale: 2,
    thousandsSeparator: '.',
    radix: ',',
    mapToRadix: ['.',','],
    padFractionalZeros: true,
    normalizeZeros: true,
    lazy: false,  // make placeholder always visible
    placeholderChar: '_'     // defaults to '_'
}).on('accept', function() {
    if(field.value != ''){field.el.input.classList.add('is-invalid');}
    else{field.el.input.classList.remove('is-invalid');}
}).on('complete', function(){field.el.input.classList.remove('is-invalid')})</code></pre>
<p class="mt-3">Se usado em conjunto a lib <code>jsForm</code> não é necessário fazer o processo de validação, apenas informar ao instanciar o form os componentes imask</p>
<pre><code class="language-javascript">const fone = IMask(document.getElementById('id_fone'), {mask: [{mask: '(00) 0000-0000'},{mask: '(00) 00000-0000'}]})</code></pre>
<pre><code class="language-javascript">const form = new jsForm(meu_form, {imask: [fone, cpf]})</code></pre>
<h5>Keywatch JS</h5>
<p>Gerencia atalhos de teclado além de implementar tabulação em forms pela tecla <code>Enter</code></p>

<pre><code class="language-javascript">const appKeyMap = new Keywatch();
// configuracoes ao instanciar
{
    splitKey: '+',
    separator: ';',
    tabOnEnter: true,
    shortcutMaplist: "alt+k",
    shortcutMaplistDesc: "Exibe lista de atalhos disponiveis na página",
    shortcutMaplistOnlyContextActive: false,
    //Definicoes de estilizacao
    shortcutModalClasslist: 'w-100 h-100 border-2 border-secondary bg-dark-subtle mt-3',
    searchInputClasslist: 'form-control form-control-sm',
    searchInputPlaceholder: 'Criterio pesquisa',
    modalTableClasslist: 'table table-sm table-bordered table-striped mt-2 fs-7',
    modalTableLabelClasslist: 'border rounded py-1 px-2 bg-dark-subtle text-body-secondary font-monospace',
    shortcutModalTableDetailClasslist: 'fit text-center px-3',
    shortcutModalTableDetailText: '<i class="bi bi-question-lg"></i>',
    shortcutModalTableDetailItemText: '<i class="bi bi-list d-block text-center pointer"></i>',
}</code></pre>
<p class="mt-4 mb-0">Criando shortcuts</p>
<pre><code class="language-javascript">appKeyMap.bind('alt+e', ()=>{...}, {})  // extrutura basica
appKeyMap.bind('g+i;g+u', ()=>{...})    // multiplos atalhos
appKeyMap.bind('alt+e', ()=>{...}, {context: 'modalX'}) // alterando o contexto

// conficuracoes do shortcut
{
    context: 'default',     // contexto
    desc: '',               // descricao do atalho
    element: document,      // elemento atrelado
    origin: undefined,      // origem do atalho (string)
    keydown: true,          // se responde no keydown
    keyup: false,           // se responde no keyup
    group: null,            // grupo do atalho
    display: true,          // se sera exibido no modal
    preventDefault: true,   // se previne comportamento default
    useCapture: false       // se tera prioridade de execucao
}
// exemplo de novo atalho
appKeyMap.bind('alt+e', ()=>{..do something}, {desc: 'Salva registro no banco'})
</code></pre>
<small>Listener responde ao comando <kbd class="mx-2">Alt + E</kbd>, <code>desc</code> é opcional, apenas para exibição na tela de atalhos</small><br>
<small>Se não tefinido <code>context</code> atalho será registrado no contexto <code>default</code></small>
<div class="callout callout-primary mt-4"><i class="bi bi-exclamation-circle-fill me-2"></i> Para exibir os atalhos cadastrados use o comando <code>appKeyMap.showKeymap()</code> <button type="button" class="btn btn-sm btn-phantom-warning ms-2" onclick="appKeyMap.showKeymap()">Ver</button></div>

<p class="mt-4">Use a opção: <code>display: <span class="text-orange me-1">false</span></code> para não exibir na lista de atalhos</p>
<pre><code class="language-javascript">appKeyMap.bind('alt+e', ()=>{...}, {display: false})</code></pre>

<small class="d-block mt-4"><i class="bi bi-arrow-right"></i> Outros recursos:</small>
<pre class="mt-0"><code class="language-javascript">appKeyMap.getContext() // Retorna contexto ativo
appKeyMap.addContext('novoCtx', 'Meu Contexto'); // Insere novo contexto
appKeyMap.setContext('novoCtx'); // Ativa contexto (ou cria caso nao exista)
appKeyMap.setContext('novoCtx', 'Meu Contexto'); // Ativa contexto (ou cria) atualizando desc
appKeyMap.updateContext('novoCtx', 'Nova desc'); // Atualiza desc do contexto
appKeyMap.unbind('alt+e') // Remove atalho em todos os contextos
appKeyMap.unbind('alt+e', {context: 'default'}) // Remove atalho alt+e no contexto default
appKeyMap.unbind('alt+e', {element: meuInput}) // Remove atalho em todos os contextos atrelados ao input
appKeyMap.unbind('alt+e', {type: 'keyup'}) // Remove listener apenas do keyup
appKeyMap.unbindContext('default') // Remove TODOS os atalhos do contexto informado
appKeyMap.unbindGroup('meuGrupo') // Limpa atalhos no grupo informado em todos os contextos
appKeyMap.unbindAll() // Limpa TODOS atalhos de TODOS os contextos
appKeyMap.avail('alt+e', {context: 'default'}) // Retorna true se atalho esta disponivel no contexto
appKeyMap.avail('alt+e') // Retorna true somente se atalho nao estiver em uso em nenhum contexto
appKeyMap.run('alt+e', {context: 'foo'}) // Executa atalho especificado (se omitido contexto busca no 'default')
appKeyMap.showKeymap() // Exibe modal com shortcuts disponiveis</code></pre>

<h5>nav</h5>
<h5>jsForm</h5>
<h5>jsGrid</h5>


{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/prism.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/docs.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}

const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
const salario = IMask(document.getElementById('id_salario'), {
    mask: Number,
    scale: 2,
    thousandsSeparator: '.',
    padFractionalZeros: true,
    normalizeZeros: true,
    radix: ',',
    mapToRadix: ['.'],
})

const form = new jsForm(document.getElementById('my_form'), {
    imask: [cpf, salario],
    // novalidate: true,
    selectPopulate: [
    {target: document.getElementById('id_empresa'), url: '{% url 'empresa_list' %}'}
    ],
    // multipleAddon: ['cpf'],
    multipleAddon: [{
        field: 'cpf', 
        max: 5,
        // shortcut: 'f4'
    }],
    // multipleAddonText: '<i class="bi bi-clipboard-minus-fill">',
    // multipleAddonBadgeClasslist: 'badge bg-success',
    // multipleAddonSeparator: '_',
    // multipleAddonShortcut: 'f2',
    customValidation: {
        'senha': (v)=>{
            let teste = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(v);
            return [teste, i18n.getEntry(`auth.passwordRequirementsNotMet`) || 'Requisitos de senha não atendidos'];
        },
    }
})
{% endblock %}
</script>