<div class="card-body tab-content">
    <h5 class="card-title"><span >Cadastro</span>: <b class="text-purple" >Event</b></h5>
    <h6 class="mb-3 text-orange">
        {% if related == 'empresa' %}
            <span >Eventos Globais</span>
        {% elif related == 'cargo' %}
            <span class="text-body" >Cargo:</span> {{model.nome}}
        {% elif related == 'funcionario' %}
            <span class="text-body" >Funcionário:</span> {{model.matricula}} - {{model.nome}}
        {% endif %}</h6>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-2">
            <div class="col col-lg-4">
                <div class="row g-1">
                    <div class="form-floating mb-1 col-lg">
                        {{ form.inicio }}
                        <label for="id_inicio" >Inicio</label>
                    </div>
                    <div class="form-floating mb-1 col-lg">
                        {{ form.fim }}
                        <label for="id_fim" >Fim</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col-lg">
                        {{ form.evento }}
                        <label for="id_evento" >Evento</label>
                    </div>
                    <div class="form-floating mb-1 col-lg">
                        {{ form.motivo }}
                        <label for="id_motivo" >Motivo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">{{form.empresas}}</div>
                </div>
                <input type="hidden" name="{{related}}" value="{{model.id|safe|default:0}}">
            </div>
            <div class="col col-lg">
                <div class="row g-1">
                    <div class="form-floating mb-1 col-lg">
                        {{ form.tipo }}
                        <label for="id_tipo" >Tipo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.valor }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col"><span id="responseValidate"></span></div>
                    <div class="col-auto text-end">
                        <button type="button" id="id_validate" class="btn btn-sm btn-warning" >Validar</button>
                        <button type="submit" id="submit" class="btn btn-sm btn-primary" title="ALT + G" ><b>G</b>ravar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>