<div class="card-body tab-content">
    <h5 class="card-title mb-3"><span >Cadastro</span>: <b class="text-purple" >Event</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-2">
            <div class="col-lg col-lg-3">
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.nome }}
                        <label for="id_nome" >Nome</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.rastreio }}
                    <label for="id_rastreio" >Rastreio **</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.tipo }}
                    <label for="id_tipo" >Tipo</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.grupo }}
                    <label for="id_grupo" >Grupo</label>
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mt-1" title="ALT + G" ><b>G</b>ravar</button>                
            </div>
            <div class="col-lg border-start ms-lg-1">
                <small class="d-block border-bottom mb-1 pb-1" >** Rastreio usado para composição de formulas para módulo de folha</small>
                <ol class="fs-7">
                    <li >Deve iniciar com letra (alpha)</li>
                    <li >Pode conter letras (maiusculas e minusculas), números e underline</li>
                    <li >Caracteres especiais e espaço não são permitidos</li>
                    <li >Máximo de 20 caracteres</li>
                </ol>
            </div>
        </div>
    </div>
</div>