{% load static %}
{% load i18n %}
{% load ui_components %}
<div class="card-body">
    <h5 class="card-title mb-3">{% translate 'Cadastro de Funcionário' %}</h5>
    <div class="row g-lg-3">
        <div class="col-lg-auto bg-dark-light bg-gradient rounded p-2 widget-thumb-container">
            {% if funcionario.foto %}
            <img src="{{funcionario.foto_url}}" class="widget-thumb-img{% if not disabled %} pointer{% endif %}" style="min-width: 110px;" id="foto-preview">
            {% else %}
            <img src="{% static 'img/default_user.png' %}" class="widget-thumb-img{% if not disabled %} pointer{% endif %}" style="min-width: 110px;" id="foto-preview">
            {% endif %}
            <div class="widget-thumb-controls ms-2 ms-lg-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="d-grid">
                            {% if not funcionario %}
                            <a class="btn btn-sm btn-light px-4 px-lg-0 disabled">{% translate 'Novo'|upper %}</a>
                            {% elif funcionario.status == 'A' %}
                            <a class="btn btn-sm btn-success px-4 px-lg-0 disabled">{% translate 'Ativo'|upper %}</a>
                            {% else %}
                            <a class="btn btn-sm btn-warning px-4 px-lg-0 disabled">{{funcionario.get_status_display|upper}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <div class="col-lg">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="base" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.matricula }}
                            {{ form.matricula.i18n_label }}
                        </div>
                        <div class="form-floating col mb-1">
                            <select name="filial" id="id_filial" class="form-select" {% if disabled %}disabled{% endif %}>
                                {% if disabled %}
                                <option value="{{ funcionario.filial.id }}" selected>{{ funcionario.filial.nome }}</option>
                                {% else %}
                                {% for empresa in user.profile.empresas %}
                                <optgroup label="{{ empresa.nome }}">
                                    {% for filial in empresa.filiais_permitidas %}
                                    <option value="{{ filial.id }}" {% if filial == funcionario.filial %}selected{% endif %}>{{ filial.nome }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                                {% endif %}
                            </select>
                            {{ form.filial.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.nome }}
                            {{form.nome.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-3">
                            {{ form.apelido }}
                            {{ form.apelido.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.nome_social }}
                            {{ form.nome_social.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.genero }}
                            {{ form.genero.i18n_label }}
                        </div>                        
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-lg">
                            {{ form.data_nascimento }}
                            {{ form.data_nascimento.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.data_admissao }}
                            {{ form.data_admissao.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.estado_civil }}
                            {{ form.estado_civil.i18n_label }}
                        </div>
                        {% if perms.auth.view_user %}
                        <div class="form-floating mb-1 col-lg">
                            {{ form.usuario }}
                            {{ form.usuario.i18n_label }}
                        </div>
                        {% endif %}
                    </div>
                    {% if funcionario.status == 'D' %}
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-4">
                            <input type="date" class="form-control fw-bold" id="id_data_desligamento" value="{{funcionario.data_desligamento|date:'Y-m-d'}}" disabled>
                            {{ form.data_desligamento.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg">
                            <input type="text" class="form-control fw-bold" id="id_motivo_desligamento" value=" {{funcionario.get_motivo_desligamento_display }}" disabled>
                            {{ form.motivo_desligamento.i18n_label }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.nome_pai }}
                            {{ form.nome_pai.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.nome_mae }}
                            {{ form.nome_mae.i18n_label }}
                        </div>
                    </div>
                    <input type="file" name="foto" id="id_foto" style="display:none">
                    <div class="form-check form-switch mt-2">
                        {{form.pne}}
                        <label class="form-check-label" for="id_pne" >{% translate 'PNE Portador de necessidades especiais' %}</label>
                    </div>
                </div>
                <div class="tab-pane fade" id="documents" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.rg }}
                            {{ form.rg.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.rg_orgao_expedidor }}
                            {{ form.rg_orgao_expedidor.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-4">
                            {{ form.rg_emissao }}
                            {{ form.rg_emissao.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cpf }}
                            {{ form.cpf.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-7">
                            {{ form.reservista }}
                            {{ form.reservista.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.titulo_eleitor }}
                            {{ form.titulo_eleitor.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.titulo_zona }}
                            {{ form.titulo_zona.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-4">
                            {{ form.titulo_secao }}
                            {{ form.titulo_secao.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cnh }}
                            {{ form.cnh.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.cnh_primeira_habilitacao }}
                            {{ form.cnh_primeira_habilitacao.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-auto" style="min-width: 130px;">
                            {{ form.cnh_categoria }}
                            {{ form.cnh_categoria.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cnh_emissao }}
                            {{ form.cnh_emissao.i18n_label }}
                        </div>
                        <div class="form-floating col-lg">
                            {{ form.cnh_validade }}
                            {{ form.cnh_validade.i18n_label }}
                        </div>
                        <div class="form-floating col-lg">
                            {% if funcionario.cnh_validade == None %}
                            <input type="text" class="form-control" id="id_situacao_cnh" value="" disabled>
                            {% elif funcionario.cnh_eh_valida %}
                            <input type="text" class="form-control" id="id_situacao_cnh" value="Valida" disabled>
                            {% else %}
                            <input type="text" class="form-control bg-warning-subtle" id="id_situacao_cnh" value="Vencida" disabled>
                            {% endif %}
                            <label for="id_situacao_cnh">
                                {% translate "Cnh" as var %}
                                {% blocktranslate %} Status {{ var }} {% endblocktranslate %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contato" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-lg-12">
                            {{ form.endereco }}
                            {{ form.endereco.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col" style="max-width: 100px;">
                            {{ form.uf }}
                            {{ form.uf.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col">
                            {{ form.cidade }}
                            {{ form.cidade.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg">
                            {{ form.bairro }}
                            {{ form.bairro.i18n_label }}
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.fone1 }}
                            {{ form.fone1.i18n_label }}
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.fone2 }}
                            {{ form.fone2.i18n_label }}
                        </div>
                        <div class="form-floating mb-1 col-lg-6">
                            {{ form.email }}
                            {{ form.email.i18n_label }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="detalhe" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.detalhe }}
                            {{ form.nome.i18n_label }}
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% btn_tag 'submit' disabled=disabled %}
        </div>
    </div>
</div>

<script>
    function _formRun(){
        const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
        const cnh = IMask(document.getElementById('id_cnh'), {mask: '000.000.000-00'})
        appKeyMap.bind('alt+1',()=>{document.getElementById('menu_funcionario_basico').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabBase', desc: 'Exibe dados básicos do funcionário', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('alt+2',()=>{document.getElementById('menu_funcionario_docs').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabDocs', desc: 'Exibe documentos do funcionário', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('alt+3',()=>{document.getElementById('menu_funcionario_contato').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabAddress', desc: 'Exibe endereço e informações de contato', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('alt+4',()=>{document.getElementById('menu_funcionario_detalhe').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabDetail', desc: 'Exibe detalhes gerais do funcionário', origin: 'pessoal:_form_funcionario'})
        return [cpf, cnh]
    }
</script>