{% load i18n %}
{% load ui_components %}
<div class="card-body tab-content">
    <h5 class="card-title mb-3">{% translate 'Cadastro'|escapejs %}: <b class="text-purple">{% translate 'Setor'|escapejs %}</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
            <div class="col col-lg-3">
                <div class="row g-1 mb-2">
                    <div class="form-floating mb-1 col">
                        {{ form.nome }}
                        {{ form.nome.i18n_label }}
                    </div>
                </div>
                {% btn_tag 'submit' %}
            </div>
            <div class="col border-start"></div>
        </div>
    </div>
</div>