{% load i18n %}
{% load ui_components %}
<div class="card-body tab-content">
    <h5 class="card-title mb-3">{% translate 'Cadastro' %}: <b class="text-purple">{% translate 'Cargo' %}</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
            <div class="col col-lg-3">
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.nome }}
                        {{ form.nome.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.setor }}
                        {{ form.setor.i18n_label }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2">
                        {% btn_tag 'submit' %}
                    </div>
                </div>
            </div>
            <div class="col-lg mt-3 mt-lg-0">
                <div class="row">
                    <div class="col-lg order-2 order-lg-1">{{ form.atividades }}</div>
                    <div class="col col-lg-3 order-1 order-lg-2 mb-1">
                        {{ form.funcoes_fixas }}
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>