{% load static %}
<div class="card-body">
    <h5 class="card-title mb-3" data-i18n="personal.employee.form.employeeRegistration">Cadastro de Funcionário</h5>
    <div class="row g-lg-3">
        <div class="col-lg-auto bg-dark-light bg-gradient rounded p-2 widget-thumb-container">
            {% if funcionario.foto %}
            <img src="{{funcionario.foto_url}}" class="widget-thumb-img pointer" style="min-width: 110px;" onclick="photo.modal.show();" id="funcionarioFoto" alt="Foto Funcionario">
            {% else %}
            <img src="{% static 'img/default_user.png' %}" class="widget-thumb-img pointer" style="min-width: 110px;" onclick="photo.modal.show();" id="funcionarioFoto" alt="Foto Funcionario">
            {% endif %}
            <div class="widget-thumb-controls ms-2 ms-lg-0">
                <div class="row g-0">
                    <div class="col">
                        <div class="d-grid">
                            {% if not funcionario %}
                            <a class="btn btn-sm btn-light px-4 px-lg-0 disabled" data-i18n="common.new__toUpperCase">NOVO</a>
                            {% elif funcionario.status == 'A' %}
                            <a class="btn btn-sm btn-success px-4 px-lg-0 disabled" data-i18n="common.active__toUpperCase">ATIVO</a>
                            {% else %}
                            <a class="btn btn-sm btn-warning px-4 px-lg-0 disabled text-uppercase">{{funcionario.get_status_display}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <div class="col-lg">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="base" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.matricula }}
                            <label for="id_matricula" data-i18n="personal.common.employeeId">Matricula</label>
                        </div>
                        {% include "_component/field/empresa.html" with container_classlist='form-floating col mb-1' empresa_atual=funcionario.empresa.id|safe attrs='autofocus' %}
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-9">
                            {{ form.nome }}
                            <label for="id_nome" data-i18n="personal.employee.form.fullName">Nome completo</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-3">
                            {{ form.regime }}
                            <label for="id_regime" data-i18n="common.regime">Regime</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-9">
                            {{ form.nome_social }}
                            <label for="id_nome_social" data-i18n="personal.employee.form.socialName">Nome Social</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-3">
                            {{ form.apelido }}
                            <label for="id_apelido" data-i18n="personal.common.nickname">Apelido</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-3">
                            <select class="form-select" id="id_setor" name="setor" onchange="carregaCargos()">
                                <option value="">---------</option>
                            </select>
                            <label for="id_setor" data-i18n="common.sector">Setor</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            <select class="form-select" id="id_cargo" name="cargo">
                                <option value="">---------</option>
                            </select>
                            <label for="id_cargo" data-i18n="common.position">Cargo</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.sexo }}
                            <label for="id_sexo" data-i18n="common.gender">Sexo</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-3">
                            {{ form.data_nascimento }}
                            <label for="id_data_nascimento" data-i18n="personal.employee.form.birthDate">Data de Nascimento</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-4">
                            {{ form.data_admissao }}
                            <label for="id_data_admissao" data-i18n="personal.employee.form.hireDate">Data Admissão</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-4">
                            {{ form.estado_civil }}
                            <label for="id_estado_civil" data-i18n="personal.employee.form.maritalStatus">Estado Civil</label>
                        </div>
                        {% if perms.pessoal.associar_usuario %}
                        <div class="form-floating mb-1 col-lg-4">
                            {{ form.usuario }}
                            <label for="id_usuario" data-i18n="common.user">Usuário</label>
                        </div>
                        {% endif %}
                    </div>
                    {% if funcionario.status == 'D' %}
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-4">
                            <input type="date" class="form-control fw-bold" id="id_data_desligamento" value="{{funcionario.data_desligamento|date:'Y-m-d'}}" disabled>
                            <label for="id_data_desligamento" data-i18n="personal.employee.form.terminationDate">Data Desligamento</label>
                        </div>
                        <div class="form-floating mb-1 col-lg">
                            <input type="text" class="form-control fw-bold" id="id_motivo_desligamento" value=" {{funcionario.get_motivo_desligamento_display }}" disabled>
                            <label for="id_motivo_desligamento" data-i18n="personal.employee.form.terminationReason">Motivo Desligamento</label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.nome_pai }}
                            <label for="id_nome_pai" data-i18n="personal.employee.form.fathersName">Nome Pai</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.nome_mae }}
                            <label for="id_nome_mae" data-i18n="personal.employee.form.mothersName">Nome Mãe</label>
                        </div>
                    </div>
                    <input type="hidden" name="foto_data_url" id="id_foto_data_url">
                    <div class="form-check form-switch mt-2">
                        {{form.pne}}
                        <label class="form-check-label" for="id_pne" data-i18n="personal.employee.form.personWithSpecialNeeds">PNE Portador de necessidades especiais</label>
                    </div>
                </div>
                <div class="tab-pane fade" id="documents" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.rg }}
                            <label for="id_rg">RG</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.rg_orgao_expedidor }}
                            <label for="id_rg_orgao_expedidor" data-i18n="personal.employee.form.issuingAuthority__prefix:RG ">RG Orgão Expedidor</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-4">
                            {{ form.rg_emissao }}
                            <label for="id_rg_emissao" data-i18n="personal.employee.form.issueDate__prefix:RG ">RG Data de emissão</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cpf }}
                            <label for="id_cpf">CPF</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-7">
                            {{ form.reservista }}
                            <label for="id_reservista" data-i18n="personal.employee.form.militaryLicense">Reservista</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.titulo_eleitor }}
                            <label for="id_titulo_eleitor" data-i18n="personal.employee.form.voterRegistration">Titulo eleitor</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.titulo_zona }}
                            <label for="id_titulo_zona" data-i18n="personal.employee.form.electoralZone">Zona</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-4">
                            {{ form.titulo_secao }}
                            <label for="id_titulo_secao" data-i18n="personal.employee.form.pollingStation">Seção</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cnh }}
                            <label for="id_cnh" data-i18n="personal.employee.form.driversLicense">CNH</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg">
                            {{ form.cnh_primeira_habilitacao }}
                            <label for="id_cnh_primeira_habilitacao" data-i18n="personal.employee.form.firstLicense">Primeira Habilitação</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-auto" style="min-width: 130px;">
                            {{ form.cnh_categoria }}
                            <label for="id_cnh_categoria" data-i18n="common.category">Categoria</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-5">
                            {{ form.cnh_emissao }}
                            <label for="id_cnh_emissao" data-i18n="personal.employee.form.driversLicenseIssuance">CNH Emissão</label>
                        </div>
                        <div class="form-floating col-lg">
                            {{ form.cnh_validade }}
                            <label for="id_cnh_validade" data-i18n="personal.employee.form.driversLicenseValidity">CNH Validade</label>
                        </div>
                        <div class="form-floating col-lg">
                            {% if funcionario.cnh_validade == None %}
                            <input type="text" class="form-control" id="id_situacao_cnh" value="" disabled>
                            {% elif funcionario.cnh_eh_valida %}
                            <input type="text" class="form-control" id="id_situacao_cnh" data-i18n="common.valid" value="Valida" disabled>
                            {% else %}
                            <input type="text" class="form-control bg-warning-subtle" id="id_situacao_cnh" data-i18n="common.expired" value="Vencida" disabled>
                            {% endif %}
                            <label for="id_situacao_cnh" data-i18n="common.status">Status</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contato" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-lg-12">
                            {{ form.endereco }}
                            <label for="id_endereco" data-i18n="common.address">Endereço</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col" style="max-width: 100px;">
                            {{ form.uf }}
                            <label for="id_uf" data-i18n="common.state">UF</label>
                        </div>
                        <div class="form-floating mb-lg-1 col">
                            {{ form.cidade }}
                            <label for="id_cidade" data-i18n="common.city">Cidade</label>
                        </div>
                        <div class="form-floating mb-1 col-lg">
                            {{ form.bairro }}
                            <label for="id_bairro" data-i18n="common.district">Bairro</label>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.fone1 }}
                            <label for="id_fone1" data-i18n="common.fone__posfix: 01">Fone 01</label>
                        </div>
                        <div class="form-floating mb-lg-1 col-lg-3">
                            {{ form.fone2 }}
                            <label for="id_fone2" data-i18n="common.fone__posfix: 02">Fone 02</label>
                        </div>
                        <div class="form-floating mb-1 col-lg-6">
                            {{ form.email }}
                            <label for="id_email" data-i18n="common.email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="detalhe" role="tabpanel">
                    <div class="row g-1">
                        <div class="form-floating mb-1 col-12">
                            {{ form.detalhe }}
                            <label for="id_nome" data-i18n="common.detail__plural">Detalhes</label>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button type="submit" id="submit" class="btn btn-primary" data-i18n="common.save__bold:g" {% if 'funcionario_id' in request.get_full_path and not perms.pessoal.change_funcionario %} disabled{% endif %}><b>G</b>ravar</button>
        </div>
    </div>
</div>

<script>
    function carregaSetores(loading_page=false) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                if(this.responseText == ''){}
                else{
                    let obj = JSON.parse(this.responseText);
                    setores = document.getElementById("id_setor");
                    setor_atual = '{{funcionario.cargo.setor.id|safe}}';
                    obj.forEach((el)=>{
                        setores.innerHTML += `<option value="${el.pk}"${el.pk == setor_atual ? 'selected' : ''}>${el.fields.nome}</option>`;
                    })
                    if(loading_page){carregaCargos();}
                }
            }
        };
        xhttp.open("GET", "{% url 'pessoal:get_setores' %}", true);
        xhttp.send();
    }
    carregaSetores(true);
    
    function carregaCargos() {
        setor = document.getElementById('id_setor').value;
        cargos = document.getElementById("id_cargo");
        cargos.innerHTML = '<option value="">---------</option>';
        if(setor == ''){}
        else{
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200){
                    if(this.responseText == ''){}
                    else{
                        let obj = JSON.parse(this.responseText);
                        cargo_atual = '{{funcionario.cargo.id|safe}}';
                        obj.forEach((el)=>{
                            cargos.innerHTML += `<option value="${el.pk}"${el.pk == cargo_atual ? 'selected' : ''}>${el.fields.nome}</option>`;
                        })
                    }
                }
            };
            xhttp.open("GET", "{% url 'cargo-api-list' %}?setor=" + setor, true);
            xhttp.send();
        }
    }

    function _formRun(){
        const cpf = IMask(document.getElementById('id_cpf'), {mask: '000.000.000-00'})
        const cnh = IMask(document.getElementById('id_cnh'), {mask: '000.000.000-00'})
        appKeyMap.bind('ctrl+1',()=>{document.getElementById('menu_funcionario_basico').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabBase', desc: 'Exibe dados básicos do funcionário', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('ctrl+2',()=>{document.getElementById('menu_funcionario_docs').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabDocs', desc: 'Exibe documentos do funcionário', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('ctrl+3',()=>{document.getElementById('menu_funcionario_contato').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabAddress', desc: 'Exibe endereço e informações de contato', origin: 'pessoal:_form_funcionario'})
        appKeyMap.bind('ctrl+4',()=>{document.getElementById('menu_funcionario_detalhe').click()}, {icon: 'bi bi-palette2 text-purple', 'data-i18n':'personal.employee.form.tabDetail', desc: 'Exibe detalhes gerais do funcionário', origin: 'pessoal:_form_funcionario'})
        return [cpf, cnh]
    }
</script>