{% load i18n %}
{% load ui_components %}
<div class="card-body tab-content">
    <h5 class="card-title">{% translate 'Cadastro' %}: <b class="text-purple">{% translate 'Dependente' %}</b></h5>
    <h6 class="text-orange mb-3">{{funcionario.matricula}} - {{funcionario.nome}}</h6>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
            <div class="col col-lg">
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-8">
                        {{ form.nome }}
                        {{ form.nome.i18n_label }}
                    </div>
                    <div class="form-floating mb-1 col-lg-4">
                        {{ form.parentesco }}
                        {{ form.parentesco.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.genero }}
                        {{ form.genero.i18n_label }}
                    </div>
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.data_nascimento }}
                        {{ form.data_nascimento.i18n_label }}
                    </div>
                    <div class="form-floating mb-1 col-lg-4">
                        {{ form.cpf }}
                        {{ form.cpf.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.rg }}
                        {{ form.rg.i18n_label }}
                    </div>
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.rg_emissao }}
                        {{ form.rg_emissao.i18n_label }}
                    </div>
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.rg_orgao_expedidor }}
                        {{ form.rg_orgao_expedidor.i18n_label }}
                    </div>
                </div>
                <input type="hidden" name="funcionario" id="id_funcionario" value="{{funcionario.id|safe}}">
                {% btn_tag 'submit' %}
            </div>
            <div class="col-lg-4 border-start"></div>
        </div>
    </div>
</div>