{% load i18n %}
{% load ui_components %}
{% load tag_extra %}
<div class="card-body tab-content">
    <h5 class="card-title mb-3">{% translate 'Cadastro'|escapejs %}: <b class="text-purple">{% translate 'Evento'|escapejs %}</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-2">
            <div class="col-lg col-lg-3">
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.nome }}
                        {{ form.nome.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.rastreio }}
                        {{ form.rastreio.i18n_label|label_suffix:" **" }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.tipo }}
                        {{ form.tipo.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.grupo }}
                        {{ form.grupo.i18n_label }}
                    </div>
                </div>
                <div class="mt-1">
                    {% btn_tag 'submit' %}
                </div>
            </div>
            <div class="col-lg border-start ms-lg-1">
                <small class="d-block border-bottom mb-1 pb-1" >** {% translate 'Rastreio usado para composição de fórmulas para módulo de folha'|escapejs %}</small>
                <ol class="fs-7">
                    <li>{% translate 'Pode conter letras (maiusculas e minusculas), números e underline'|escapejs %}</li>
                    <li>{% translate 'Caracteres especiais e espaço não são permitidos'|escapejs %}</li>
                    <li>{% translate 'Máximo de 20 caracteres'|escapejs %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>