{% load i18n %}
{% load ui_components %}
<div class="card-body tab-content">
    <h5 class="card-title mb-3">{% translate 'Cadastro' %}: <b class="text-purple">{% translate 'Cargo' %}</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-2">
            <div class="col-lg">
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-6">
                        {{ form.data_afastamento }}
                        {{ form.data_afastamento.i18n_label }}
                    </div>
                    <div class="form-floating mb-1 col-lg-6">
                        {{ form.data_retorno }}
                        {{ form.data_retorno.i18n_label }}
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-6">
                        {{ form.origem }}
                        {{ form.origem.i18n_label }}
                    </div>
                    <div class="form-floating mb-1 col-lg-6">
                        {{ form.motivo }}
                        {{ form.motivo.i18n_label }}
                    </div>
                </div>
                <div class="form-check form-switch mt-1">
                    {{form.remunerado }}
                    {{form.remunerado.i18n_label}}
                </div>
                <div class="form-check form-switch mt-1">
                    {{form.reabilitado}}
                    {{form.reabilitado.i18n_label}}
                </div>
            </div>
            <div class="col-lg">
                <div class="row g-1">
                    {{ form.detalhe }}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="funcionario" id="id_funcionario" value="{{funcionario.id|safe}}">
    <div class="row mt-3">
        <div class="col">
            {% btn_tag 'submit' %}
        </div>
    </div>
</div>