<div class="card-body tab-content">
    <h5 class="card-title mb-3"><span data-i18n="common.register">Cadastro</span>: <b class="text-purple" data-i18n="common.position">Cargo</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
            <div class="col col-lg-3">
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.nome }}
                        <label for="id_nome" data-i18n="common.name">Nome</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col">
                        {{ form.setor }}
                        <label for="id_setor" data-i18n="common.sector">Setor</label>
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mt-1" title="ALT + G" data-i18n="common.save__bold:s"><b>G</b>ravar</button>                
            </div>
            <div class="col border-start">
                <div class="row">
                    <div class="col-lg order-2 order-lg-1">{{ form.atividades }}</div>
                    <div class="col col-lg-3 order-1 order-lg-2 mb-1">
                        {{ form.funcao_fixa }}
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>