{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Afastamento'|escapejs %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}
{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'pessoal:afastamento_list' funcionario.id|safe %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
            {% if perms.pessoal.delete_afastamento %}
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item dropdown-item-danger pointer" href="#" data-bs-toggle="modal" data-bs-target="#delete_modal">{% translate 'Excluir Registro'|escapejs %}</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <form id="pessoal_form" action="{% url 'pessoal:afastamento_update' afastamento.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'pessoal/_form_afastamento.html' %}
    </form>
</div>

{% if perms.pessoal.delete_afastamento %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-triangle-fill text-danger me-2"></i>{% translate 'Excluir Registro'|escapejs %}</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <p><b class="text-danger">{% translate 'Atenção'|escapejs %}!!</b> {% translate 'Esta operação não pode ser desfeita, confirma a exclusão do registro?'|escapejs %}</p>
                <div class="row mt-2">
                    <form action="{% url 'pessoal:afastamento_delete' afastamento.id|safe %}">
                        {% csrf_token %}
                        <div class="col text-end">
                            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">{% translate 'Cancelar'|escapejs %}</a>
                            <button type="submit" class="btn btn-danger px-3">{% translate 'Excluir'|escapejs %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
const form = new jsForm(document.getElementById('pessoal_form'), {})
{% endblock %}
</script>