{% extends "layout/app.html" %}
{% load static %}
{% load django_tables2 %}
{% block title %}Afastamentos{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            {% if perms.pessoal.add_afastamento %}
            <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'pessoal:afastamento_create' funcionario.id|safe %}"><i class="bi bi-plus-lg text-success"></i></a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'pessoal:funcionario_update' funcionario.id|safe %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title"><span >Pessoal</span>: <span class="text-purple" >Afastamentos</span></h5>
        <h6 class="text-orange mb-3">{{funcionario.matricula}} - {{funcionario.nome}}</h6>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            {{ table.render_filter|safe }}
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block add_script_src %}
{% endblock %}
<script>
{% block add_script %}
{% endblock %}
</script>