{% extends "layout/app.html" %}
{% load static %}
{% block title %}Cargo{% endblock %}
{% block title_i18n %}common.position{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}
{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:cargo_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
            {% if perms.pessoal.view_eventocargo %}
            <li class="nav-item"><a class="nav-link text-orange" id="eventos" href="{% url 'pessoal:eventorelated_list' 'cargo' cargo.id|safe %}" data-i18n="personal.common.event__plural__bold:e"><u><b>E</b></u>ventos</a></li>
            {% endif %}
            {% if perms.pessoal.delete_cargo %}
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal" data-i18n="sys.deleteRecord">Excluir Registro</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:cargo_update' cargo.id|safe %}" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {% include 'pessoal/_form_cargo.html' %}
    </form>
</div>

{% if perms.pessoal.delete_cargo %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-exclamation-triangle text-danger me-2"></i> Excluir Registro</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do registro?</p>
                <div class="row mt-2">
                    <div class="col text-end">
                        <form action="{% url 'pessoal:cargo_delete' cargo.id|safe %}" method="POST">
                            {% csrf_token %}
                            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                            <button class="btn btn-danger px-3" type="submit">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    const form = new jsForm(document.getElementById('app_form'), {})
    const ffixa = new jsSelectm('#id_funcoes_fixas', {
        title: i18n.getEntry('personal.fixedPosition.form.fixedPosition') || '<span data-i18n="personal.fixedPosition.form.fixedPosition">Função Fixa</span>',
        icon: 'bi bi-diagram-3-fill',
    });
    {% if perms.pessoal.view_eventocargo %}
    appKeyMap.bind('alt+e', ()=>{document.getElementById('eventos').click()}, {'data-i18n':'personal.position.form.tabEvents', icon: 'bi bi-percent', desc:'Exibe eventos do cargo', origin: 'pessoal:cargo_id'})
    {% endif %}

    {% endblock %}
</script>