{% extends "layout/app.html" %}
{% load static %}
{% block title %}Cargo{% endblock %}
{% block title_i18n %}common.position{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:cargo_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:cargo_create' %}" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {% include 'pessoal/_form_cargo.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/related.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    i18n.addVar('setorVars', [i18n.getEntry('common.sector') || 'Setor'])
    const form = new jsForm(document.getElementById('app_form'), {})
    const setor = new RelatedAddon('#id_setor', {
        title: i18n.getEntry("compound.registerOf__var:$setorVars"),
        url: {
            parent: {},
            related: {
                add: "{# url 'pessoal:add_setor' #}",
            },
        }
    })
    
const ffixa = new jsSelectm('#id_funcoes_fixas', {
    title: i18n.getEntry('personal.fixedPosition.form.fixedPosition') || '<span data-i18n="personal.fixedPosition.form.fixedPosition">Função Fixa</span>',
    icon: 'bi bi-diagram-3-fill',
});
    
    {% endblock %}
</script>