{% extends "layout/app.html" %}
{% load static %}
{% block title %}Cargo{% endblock %}
{% block title_i18n %}common.position__plural{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            {% if perms.pessoal.add_cargo %}
            <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'pessoal_cargo_add' %}"><i class="bi bi-plus-lg text-success"></i></a></li>
            {% endif %}
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    {% if perms.core.view_log %}
                    <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.cargo&mensagem=DELETE" target="_blank" data-i18n="sys.exclusionLogs">Log de Exclusões</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title"><span data-i18n="personal.personal">Pessoal</span>: <span class="text-purple" data-i18n="common.position">Cargo</span></h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <table id="main_table" class="table border table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Setor</th>
                        <th>Ativos</th>
                        {% if perms.pessoal.change_cargo %}
                        <th>&nbsp;</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for cargo in cargos %}
                    <tr>
                        <td>{{cargo.id|safe}}</td>
                        <td>{{cargo.nome}}</td>
                        <td>{{cargo.setor.nome}}</td>
                        <td>{{cargo.ativos}}</td>
                        {% if perms.pessoal.change_cargo %}
                        <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_cargo_id' cargo.id|safe %}" title="Editar"><i class="bi bi-pen-fill"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
<script>
    {% block add_script %}
    const table = new jsTable(document.getElementById('main_table'),{
        enablePaginate: true,
        canFilter: true,
        filterCols: ['Nome'],
    });
    {% endblock %}
</script>