{% extends "layout/app.html" %}
{% load static %}
{% block title %}Evento{% endblock %}
{% block title_i18n %}personal.common.event{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}


{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:eventos_related' related model.id|safe %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:evento_related_add' related model.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'pessoal/_form_evento_related.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}

{% if related == 'cargo' %}
const empresas = new jsSelectm('#id_empresas', {
    title: i18n.getEntry('common.company__plural') || '<span data-i18n="common.company__plural">Empresas</span>'
})
appKeyMap.bind('alt+t', ()=>{empresas.checkAll()}, {
    icon: 'bi bi-check-square-fill', 
    'data-i18n': `compound.checkAll__var:${[i18n.getEntry('common.company__plural__toLowerCase') || 'empresas']}`, 
    desc: 'Marca todas as empresas', 
    origin: 'pessoal:evento_related_add'
})
{% endif %}


const numberMaks = {
    mask: Number,
    scale: 2,
    thousandsSeparator: ',',
    padFractionalZeros: true,
    normalizeZeros: true,
    radix: '.',
    mapToRadix: [','],
}

const formulaMask = {
    mask: /[\s\S]*/
}

// valor deve ser tratado em formato americano pois sera tratado no servidor desta forma
const valor = document.getElementById('id_valor');
const tipo = document.getElementById('id_tipo');
const btnCheck = document.getElementById('btnCheckFormula');
const valorMask = IMask(valor, tipo.value == 'V' ? numberMaks : formulaMask)
const form = new jsForm(document.getElementById('app_form'), {
    imask: [valorMask],
    customValidation: {
        'valor': (val)=>{
            if(form.tipo == 'V'){return true}
            // aqui deve ser validado a formula
            return [true];
        }
    },
})



tipo.onchange = (ev)=>{
    if(ev.target.value == 'V'){ 
        valorMask.value = '';
        valorMask.updateOptions(numberMaks);
        btnCheck.disabled = true;
    }
    else{ 
        valorMask.value = '';
        valorMask.updateOptions(formulaMask);
        btnCheck.disabled = false;
    }
}
{% endblock %}
</script>