{% extends "layout/app.html" %}
{% load static %}
{% block title %}Evento{% endblock %}
{% block title_i18n %}personal.common.event{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:evento_related_copy' %}" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3"><span data-i18n="common.migration">Migração</span>: <b class="text-purple" data-i18n="personal.common.event">Evento</b></h5>
                <hr>
            <div class="tab-pane fade show active" id="base" role="tabpanel">
                <div class="row">
                    <h6 class="text-body-tertiary" data-i18n="personal.event.baseModel">Modelo Base</h6>
                    <div class="col-lg">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="related" id="related_cargo" value="cargo" checked autofocus>
                            <label class="form-check-label" for="related_cargo" data-i18n="common.position">Cargo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="related" id="related_funcionario" value="funcionario">
                            <label class="form-check-label" for="related_funcionario" data-i18n="common.employee">Funcionario</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row g-1 mt-2">
                                    <div class="form-floating mb-1 col-lg">
                                        <select name="related" id="id_related" class="form-select"></select>
                                        <label for="id_cargo">Cargo</label>
                                    </div>
                                    {% include "_component/field/funcionario.html" with required=False incluir_inativos=False %}
                                    <div class="col-lg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg border-start">Bar</div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    const form = new jsForm(document.getElementById('app_form'), {})
    {% endblock %}
</script>