{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Evento' %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'pessoal:eventorelated_list' related model.id|safe %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:eventorelated_create' related model.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'pessoal/_form_evento_related.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/related.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
{% include 'pessoal/_form_evento_related.js' %}
{% endblock %}
</script>