{% extends "layout/app.html" %}
{% load static %}
{% block title %}Evento{% endblock %}
{% block title_i18n %}personal.common.event{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}
{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:eventos' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal" data-i18n="common.history">Historico</a></li>
                    {% if perms.pessoal.delete_evento %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal" data-i18n="sys.deleteRecord">Excluir Registro</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:evento_update' evento.id|safe %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'pessoal/_form_evento.html' %}
    </form>
</div>

{% if perms.pessoal.delete_evento %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><i class="bi bi-exclamation-triangle-fill text-danger me-2"></i> <span data-i18n="sys.deleteRecord">Excluir Registro</span></h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <p><b class="text-danger" data-i18n="common.warning">Atenção!!</b> <span data-i18n="sys.deleteRecordMsg">Esta operação não pode ser desfeita, confirma a exclusão do registro?</span></p>
                <div class="row mt-2">
                    <div class="col text-end">
                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" data-i18n="common.cancel">Cancelar</a>
                        <a class="btn btn-danger px-3" href="{% url 'pessoal:evento_delete' evento.id|safe %}" data-i18n="common.delete">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade" id="history_modal" tabindex="-1" data-kw-context="modalHistory" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><span data-i18n="common.history">Histórico</span> <sup>(last 15)</sup></h5></div>
                    <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th data-i18n="common.date">Data</th>
                                <th data-i18n="common.operation">Operação</th>
                                <th data-i18n="common.user">Usuário</th>
                            </tr>
                        </thead>
                    <tbody class="fs-7">
                    {% for i in evento.ultimas_alteracoes %}
                        <tr>
                            <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
                            <td>{{i.mensagem}}</td>
                            <td>{{i.usuario.username|upper}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/related.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
const form = new jsForm(document.getElementById('app_form'), {})
const rastreio = IMask(document.getElementById('id_rastreio'), {
    mask: /^[a-zA-Z][a-zA-Z0-9_]*$/,
})

{% if perms.pessoal.add_grupoevento %}
const grupoRelated = new RelatedAddon('#id_grupo', {
    title: i18n.getEntry('personal.event.groupEventRegister') || 'Cadastro de Grupo de Evento',
    labels: {
        nome: i18n.getEntry('personal.event.form.groupName') || '<span data-i18n="personal.event.form.groupName">Nome do grupo</span>'
    },
    url: {
        parent: {
            show: "{% url 'pessoal:get_grupos_evento' %}",
        },
        related: {
             add: "{% url 'pessoal:add_grupo_evento' %}",
        }
    }    
})
{% endif %}
{% endblock %}
</script>