{% extends "layout/app.html" %}
{% load static %}
{% block title %}Evento{% endblock %}
{% block title_i18n %}personal.common.event{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:eventos' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:evento_add' %}" method="POST" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'pessoal/_form_evento.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
<script src="{% static 'js/related.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
const form = new jsForm(document.getElementById('app_form'), {})
const rastreio = IMask(document.getElementById('id_rastreio'), {
    mask: /^[a-zA-Z][a-zA-Z0-9_]*$/,
})
const empresas = new jsSelectm('#id_empresas', {})

{% if perms.pessoal.add_grupoevento %}
const grupoRelated = new RelatedAddon('#id_grupo', {
    title: i18n.getEntry('personal.event.groupEventRegister') || 'Cadastro de Grupo de Evento',
    labels: {
        nome: i18n.getEntry('personal.event.form.groupName') || '<span data-i18n="personal.event.form.groupName">Nome do grupo</span>'
    },
    url: {
        parent: {
            show: "{% url 'pessoal:get_grupos_evento' %}",
        },
        related: {
             add: "{% url 'pessoal:add_grupo_evento' %}",
        }
    }    
})
{% endif %}
{% endblock %}
</script>