{% extends "layout/app.html" %}
{% load i18n django_tables2 tag_extra %}
{% block title %}{% translate 'Evento'|escapejs %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            {% with add_perm="pessoal.add_evento"|add:related|lower %}
            {% if user|proxy_perm:add_perm %}
            <li class="nav-item ms-1">
                <a class="nav-link border text-success" id="add" href="{% url 'pessoal:eventorelated_create' related related_id|default:0 %}">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </li>
            {% endif %}
            {% endwith %}
            {% if related != 'empresa' %}
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'pessoal:'|add:related|add:'_update' related_id %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title">{% translate 'Pessoal'|escapejs %}: <span class="text-purple">{% translate 'Eventos'|escapejs %}</span></h5>
        <h6 class="text-orange mb-4">
            {% if related == 'empresa' %}
                {% trans "Eventos Globais" %}
            {% elif related == 'funcionario' %}
                {{ model_obj.matricula }} - {{ model_obj.nome }}
            {% elif related == 'cargo' %}
                <span class="text-body">{% trans "Cargo" %}:</span> {{ model_obj.nome }}
            {% endif %}
        </h6>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            {{ table.render_filter|safe }}
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block add_script_src %}{% endblock %}
<script>
{% block add_script %}{% endblock %}
</script>