{% extends "layout/app.html" %}
{% load static %}
{% block title %}Funcionario{% endblock %}
{% block title_i18n %}common.employee{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block style_src %}
{% if not disabled %}
<link href="{% static 'css/vendor/uppy.min.css' %}" rel="stylesheet" />
{% endif %}
{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" id="menu_funcionario_basico" data-bs-toggle="tab" data-bs-target="#base" onclick="setTimeout(function(){document.getElementById('id_matricula').focus();},220);" href="#" title="Basico [Ctrl + 1]"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_docs" data-bs-toggle="tab" data-bs-target="#documents" onclick="setTimeout(function(){document.getElementById('id_rg').focus();},220);" href="#" title="Documentos [Ctrl + 2]"><i class="bi bi-person-vcard-fill"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_contato" data-bs-toggle="tab" data-bs-target="#contato" onclick="setTimeout(function(){document.getElementById('id_endereco').focus();},220);" href="#" title="Endereço [Ctrl + 3]"><i class="bi bi-pin-map-fill"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_detalhe" data-bs-toggle="tab" data-bs-target="#detalhe" onclick="setTimeout(function(){document.getElementById('id_detalhe').focus();},220);" href="#" title="Detalhes [Ctrl + 4]"><i class="bi bi-list-columns"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal:funcionario_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
            {% if not disabled and perms.pessoal.view_eventofuncionario %}
            <li class="nav-item"><a class="nav-link text-orange" id="eventos" href="{% url 'pessoal:eventorelated_list' 'funcionario' funcionario.id|safe %}" data-i18n="personal.common.event__plural__bold:t">Even<u><b>t</b></u>os</a></li>
            {% endif %}
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-body" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" id="exportCsvBtn" data-i18n="compound.downloadCsv">Baixar CSV</button></li>
                    {% if perms.pessoal.view_dependente %}<li><a class="dropdown-item" href="{% url 'pessoal:dependente_list' funcionario.id|safe %}" data-i18n="personal.common.dependant__plural">Dependentes</a></li>{% endif %}
                    {% if perms.pessoal.view_afastamento %}<li><a class="dropdown-item" href="{% url 'pessoal:afastamento_list' funcionario.id|safe %}" data-i18n="personal.employee.form.leaveOfAbsence__plural">Afastamentos</a></li>{% endif %}
                    {% if perms.pessoal.funcionario_desligar and funcionario.status == 'A' %}
                    <li><a class="dropdown-item dropdown-item-danger" data-bs-toggle="modal" data-bs-target="#modal_desligamento" href="#">Desligar Funcionário</a></li>
                    {% endif %}
                    {% if perms.pessoal.delete_funcionario %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal" data-i18n="sys.deleteRecord">Excluir Registro</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <form id="pessoal_form" action="{% url 'pessoal:funcionario_update' funcionario.id|safe %}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {% include 'pessoal/_form_funcionario.html' %}
    </form>
</div>

{% if perms.pessoal.delete_funcionario %}
<div class="modal fade" id="delete_modal" tabindex="-1" data-kw-context="modalDelete" data-kw-context-start="show.bs.modal" data-kw-context-end="hide.bs.modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-exclamation-triangle text-danger me-2"></i> Excluir Registro</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do registro?</p>
                <div class="row mt-2">
                    <div class="col text-end">
                        <form action="{% url 'pessoal:funcionario_delete' funcionario.id|safe %}" method="POST">
                            {% csrf_token %}
                            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                            <button class="btn btn-danger px-3" type="submit">Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/vendor/imask.js' %}"></script>

{% if not disabled %}
<script type="module">
    import { Uppy, Dashboard, Webcam, ImageEditor } from "{% static 'js/vendor/uppy.min.mjs' %}"
    
    const uppy = new Uppy({
        debug: true,
        autoProceed: false,
        allowMultipleUploadBatches: false,
        locale: {
            strings: i18n.getEntries('uppy'),
        },
        restrictions: {
            maxNumberOfFiles: 1,
            allowedFileTypes: ['image/*']
        }
    })
    .use(Dashboard, {
        trigger: '#foto-preview',
        target: 'body',
        inline: false,
        closeAfterFinish: true,
        dismissible: true,
        autoOpen: 'imageEditor',
        disableLocalFilesNameEdit: true, 
    })
    .use(Webcam, { 
        target: Dashboard,
        modes: ['picture'] 
    })
    .use(ImageEditor, { 
        target: Dashboard,
        quality: 0.8,
        cropperOptions: {
            aspectRatio: 1,
            viewMode: 1,
        }
    });
    uppy.on('complete', (result) => {
        if (result.successful && result.successful.length > 0) {
            const file = result.successful[0]; // pega o primeiro arquivo
            const blob = file.data; // formato binario/Blob
            document.getElementById('foto-preview').src = URL.createObjectURL(blob); // atualiza preview
            const dataTransfer = new DataTransfer();
            const newFile = new File([blob], `foto_funcionario.png`, { type: "image/png" });
            dataTransfer.items.add(newFile);
            document.getElementById('id_foto').files = dataTransfer.files;
            setTimeout(() => uppy.cancelAll(), 500); // limpa o Uppy para permitir trocas posteriores
        }
    });
    
    document.addEventListener('i18n_changed', ()=>{
        // atualiza mapa de traducao do uppy sempre que o idioma for trocado
        uppy.setOptions({
            locale: {
                strings: i18n.getEntries('uppy')
            }
        })
    })
    
</script>
{% endif %}



{% endblock %}

<script>
    {% block add_script %}
    const [cpf, cnh] = _formRun();
    const form = new jsForm('#pessoal_form', {
        imask: [cpf, cnh]
    })

    let exportCsvBtn = document.getElementById('exportCsvBtn');
    exportCsvBtn.onclick = ()=>{form.exportCSV({ignore: ['foto_data_url']})};
    appKeyMap.bind('alt+d', ()=>{exportCsvBtn.click()}, {icon: 'bi bi-download', 'data-i18n':'personal.employee.form.downloadAsCsv', desc: 'Baixar dados do funcionário em formato CSV', origin: 'pessoal:funcionario_id'})

    {% if funcionario.cargo %}
    // ao editar funcionario, necessario carregar cargos e selecionar setor/cargo definidos para funcionario
    document.getElementById('id_setor').value = {{funcionario.cargo.setor.id|safe}};
    updateCargos(document.getElementById('id_setor').value).then((resp)=>{
        document.getElementById('id_cargo').value = {{funcionario.cargo.id|safe}};
    })

    {% endif %}
    
    {% if perms.pessoal.view_eventofuncionario %}
    appKeyMap.bind('alt+t', ()=>{document.getElementById('eventos').click()}, {'data-i18n':'personal.employee.form.tabEvents', icon: 'bi bi-percent', desc:'Exibe eventos do funcionário', origin: 'pessoal:funcionario_id'})
    {% endif %}
    {% endblock %}
</script>