{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% load django_tables2 %}
{% block title %}Funcionarios{% endblock %}

{% block canvas_menu %}{% include '_component/menu/pessoal.html' %}{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/tomselect.css' %}">
{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
      {% if perms.pessoal.add_funcionario %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'pessoal:funcionario_create' %}" title="ALT+N"><i class="bi bi-plus-lg text-success"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title"><span>{% translate 'Pessoal' %}</span>: <span class="text-purple" >{% translate 'Funcionários' %}</span></h5>
    <div class="row">
      <div class="col-lg">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          <div class="row">
            <div class="col-lg-auto">
              <div class="input-group">
                <div class="form-floating">
                  <input 
                  type="text" 
                  class="form-control" 
                  id="id_pesquisa" 
                  name="pesquisa" 
                  style="min-width: 250px;" 
                  placeholder=" " 
                  autocomplete="off" 
                  minlength="3"
                  form="funcionario_form"
                  value="{{request.GET.pesquisa|default:''}}"
                  data-keywatch="default"                    
                  autofocus>
                  <label for="id_pesquisa"><span >{% translate 'Critério' %}</span>*</label>
                </div>
                <button type="submit" class="btn btn-outline-secondary" form="funcionario_form"><i class="bi bi-search"></i></button>
              </div>
              <small id="employeeSearchHelp" ></small>
            </div>
            <div class="col-lg">
              <span>{% translate 'Consultas Rápidas' %}:</span>
              <ul class="list-unstyled">
                <li><a href="#" onclick="urlCleanNFilter(['cnh_validade__lte', 'status'], [dateToday({days: 30, native: true}), 'A'])">{% translate 'Condutores CNH vencendo' %}</a></li>
                <li><a href="#" onclick="urlCleanNFilter(['status'], ['F'])">{% translate 'Funcionários Afastados' %}</a></li>
                <li><hr class="my-1"></li>
              </ul>
            </div>
          </div>
          <div>
            {{ table.render_filter|safe }}
          </div>          
          <div class="{% if not table.rows %}d-none{% endif %}">
            {% render_table table %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/vendor/tomselect.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const form = new jsForm('#funcionario_form', {})
  // const status = new TomSelect('#id_status', {
  //       plugins: ['remove_button'],
  //       onInitialize: function() {
  //           this.wrapper.classList.add('form-select-sm');
  //       }
  //   });
  const status = new TomSelect("#id_status", {
    plugins: ['remove_button'],
    allowEmptyOption: true,
});



  
  // Adiciona atalhos para modal de filtros
  // appKeyMap.bind('alt+e', ()=>{filterForm.empresa.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldCompany', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Empresa'})
  // appKeyMap.bind('alt+f', ()=>{filterForm.filial.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldBranch', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Filial'})
  // appKeyMap.bind('alt+s', ()=>{filterForm.status.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldStatus', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Status'})
  // appKeyMap.bind('alt+r', ()=>{filterForm.regime.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldRegime', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Regime'})
  // appKeyMap.bind('alt+t', ()=>{filterForm.cargo__setor.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldSector', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Setor'})
  // appKeyMap.bind('alt+g', ()=>{filterForm.cargo.focus()}, {context: 'filterModal', origin: 'funcionarios.html', 'data-i18n': 'employees.shortcuts.selectFieldPosition', icon: 'bi bi-input-cursor-text text-purple', desc: 'Foca campo Cargo'})
  
  {% endblock %}
</script>