{% extends "layout/app.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate 'Funcionário' %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block style_src %}
<link href="{% static 'css/vendor/uppy.min.css' %}" rel="stylesheet" />
{% endblock %}


{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" id="menu_funcionario_basico" data-bs-toggle="tab" data-bs-target="#base" onclick="setTimeout(function(){document.getElementById('id_matricula').focus();},220);" href="#"><i class="bi bi-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_docs" data-bs-toggle="tab" data-bs-target="#documents" onclick="setTimeout(function(){document.getElementById('id_rg').focus();},220);" href="#"><i class="bi bi-person-vcard-fill"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_contato" data-bs-toggle="tab" data-bs-target="#contato" onclick="setTimeout(function(){document.getElementById('id_endereco').focus();},220);" href="#"><i class="bi bi-pin-map-fill"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="menu_funcionario_detalhe" data-bs-toggle="tab" data-bs-target="#detalhe" onclick="setTimeout(function(){document.getElementById('id_detalhe').focus();},220);" href="#"><i class="bi bi-list-columns"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" href="{% url 'pessoal:funcionario_list' %}"><i class="bi bi-arrow-counterclockwise"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'pessoal:funcionario_create' %}" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
        {% csrf_token %}
        {% include 'pessoal/_form_funcionario.html' %}
    </form>
</div>

<div id="uppy-modal"></div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/imask.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>

<script type="module">
    import { Uppy, Dashboard, Webcam, ImageEditor } from "{% static 'js/vendor/uppy.min.mjs' %}"
    
    const uppy = new Uppy({
        debug: true,
        autoProceed: false,
        allowMultipleUploadBatches: false,
        locale: {
            strings: {
                "dropPasteImportFiles": "{% translate 'Arraste o arquivo aqui, %{browseFiles} ou importe de:' %}",
                "browseFiles": "{% translate 'selecione do disco' %}",
                "myDevice": "{% translate 'Arquivo' %}",
                "editing": "{% translate 'Editando %{file}' %}",
                "importFrom": "{% translate 'Importar de %{name}' %}",
                "noCameraTitle": "{% translate 'Nenhuma câmera disponivel' %}",
                "noCameraDescription": "{% translate 'Para tirar fotos ou gravar vídeos, conecte um dispositivo com câmera' %}",
                "xFilesSelected": {
                    "0": "{% translate '%{smart_count} arquivo selecionado' %}"
                },
                "uploadXFiles": {
                    "0": "{% translate 'Carregar' %}"
                },
                "takePicture": "{% translate 'Capturar Foto' %}",
                "pluginNameCamera": "{% translate 'Webcam' %}",
                "save": "{% translate 'Confirmar' %}",
                "done": "{% translate 'Concluir' %}",
                "cancel": "{% translate 'Cancelar' %}"
            },
        },
        restrictions: {
            maxNumberOfFiles: 1,
            allowedFileTypes: ['image/*']
        }
    })
    .use(Dashboard, {
        trigger: '#foto-preview',
        target: 'body',
        inline: false,
        closeAfterFinish: true,
        dismissible: true,
        autoOpen: 'imageEditor',
        disableLocalFilesNameEdit: true, 
    })
    .use(Webcam, { 
        target: Dashboard,
        modes: ['picture'] 
    })
    .use(ImageEditor, { 
        target: Dashboard,
        quality: 0.8,
        cropperOptions: {
            aspectRatio: 1,
            viewMode: 1,
        }
    });
    uppy.on('complete', (result) => {
        if (result.successful && result.successful.length > 0) {
            const file = result.successful[0]; // pega o primeiro arquivo
            const blob = file.data; // formato binario/Blob
            document.getElementById('foto-preview').src = URL.createObjectURL(blob); // atualiza preview
            const dataTransfer = new DataTransfer();
            const newFile = new File([blob], `foto_funcionario.png`, { type: "image/png" });
            dataTransfer.items.add(newFile);
            document.getElementById('id_foto').files = dataTransfer.files;
            setTimeout(() => uppy.cancelAll(), 500); // limpa o Uppy para permitir trocas posteriores
        }
    });
</script>

{% endblock %}

<script>
    {% block add_script %}
    const [cpf, cnh] = _formRun();
    const form = new jsForm('#app_form', {
        imask: [cpf, cnh]
    })
    {% endblock %}
</script>