{% extends "layout/app.html" %}
{% load static %}
{% block title %}Eventos{% endblock %}
{% block title_i18n %}personal.common.event{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
            {% if perms.pessoal.add_grupoevento %}
            <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'pessoal:grupoevento_create' %}"><i class="bi bi-plus-lg text-success"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title"><span >Pessoal</span>: <span class="text-purple" >Grupo Evento</span></h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <table id="main_table" class="table border table-striped table-hover">
                <thead>
                    <tr>
                        <th >Nome</th>
                        {% if perms.pessoal.change_grupoevento %}
                        <th>&nbsp;</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for grupo_evento in grupos_evento %}
                    <tr>
                        <td>{{grupo_evento.nome}}</td>
                        {% if perms.pessoal.change_grupoevento %}
                        <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal:grupoevento_update' grupo_evento.id|safe %}" title="Editar"><i class="bi bi-pen-fill"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'),{
    enablePaginate: true,
    canFilter: true,
    filterCols: ['Nome']
});
{% endblock %}
</script>