{% extends "layout/app.html" %}
{% load static i18n ui_components %}
{% block title %}{% translate 'Configurações'|escapejs %}{% endblock %}
{% block canvas_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="bi bi-list"></i></a></li>
        </ul>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" name="Foo" id="id_Foo">
        <label class="form-check-label" for="id_Foo">Foo</label>
    </div>
    <form id="app_form" action="" method="POST" autocomplete="off" novalidate>
        {% csrf_token %}
        {{ form.config_data }}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3">{% translate 'Pessoal'|escapejs %}: <b class="text-purple">{% translate 'Configurações'|escapejs %}</b></h5>
            <div class="tab-pane fade show active" id="base" role="tabpanel">
                <div class="row g-1">
                    <div class="mb-1 col-lg-3">
                        <div class="input-group">
                            <select class="form-select" id="id_filial" name="filial">
                                <option value="">---------</option>
                                {% for empresa in user.profile.empresas %}
                                <optgroup label="{{empresa.nome}}">
                                    {% for filial in empresa.filiais_permitidas %}
                                    <option value="{{filial.id|safe}}" {% if pessoalsettings.filial.id == filial.id %} selected{% endif %}>{{filial.nome}}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                            {% btn_tag 'submit' disabled="disabled" %}
                            <button id="extra" class="btn btn-sm btn-primary-matte dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled></button>
                            <ul class="dropdown-menu dropdown-menu-end fs-7">
                                <li>
                                    <button 
                                    class="dropdown-item dropdown-item-danger" 
                                    onclick="urlFilter('reset_default','true')"
                                    data-confirm="true"
                                    data-confirm-message='<b class="text-danger">{% translate 'Atenção'|escapejs %}!!</b> {% translate 'Esta operação não pode ser desfeita, confirma restauração das definições padrão?'|escapejs %}'
                                    data-confirm-delay="4"
                                    data-confirm-color="danger-matte"
                                    ><i class="bi bi-exclamation-diamond-fill me-2"></i>{% translate 'Redefinir todos'|escapejs %}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="editor_holder" class="mt-4 jedison-container"></div>
            </div>
        </div>
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/jedison.js' %}"></script>
<script src="{% static 'js/jedison.config.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    const filial = document.getElementById('id_filial');
    filial.onchange = ()=>{
        if(filial.value == '') window.location.href = '/pessoal/settings/';
        window.location.href = `/pessoal/settings/${filial.value}`;
    }
    {% if object %}
    document.getElementById('submitBtn').disabled = false;
    document.getElementById('extra').disabled = false;
    
    const rawSchema = {{ schema_json|safe }};
    const rawData = {{ config_json|safe }};
    const layoutSchema = {
        '__all__': {
            'x-enableCollapseToggle': true,
        },
        '__root__': {
            'description': 'Meu form ajustado',
        },
        'folha': {
            'x-format': 'grid',
        },
        'folha.dia_fechamento': {
            'x-grid': {'columns': 6},
            'description': 'Dia do mês em que a folha é fechada'
        },
        'folha.permite_adiantamento': {
            'x-containerAttributes': {'data-switch': 'true'}
        },
        'frequencia.incluir_intervalos_jornada': {
            'x-containerAttributes': {'data-switch': 'true'}
        }
    }
    const formatedSchema = applyLayout(rawSchema, layoutSchema);
    console.log(rawSchema);
    console.log(formatedSchema);
    
    
    
    const editor = new Jedison.Create({
        container: document.getElementById('editor_holder'),
        theme: new Jedison.ThemeBootstrap5(),
        btnContents: false,
        iconLib: 'bootstrap-icons',
        schema: formatedSchema,
        data: rawData,
    });

    const form = document.getElementById('app_form');
    form.onsubmit = (e) => {
        document.getElementById('id_config_data').value = JSON.stringify(editor.getValue());
    };
    {% endif %}
    {% endblock %}
</script>