
.cursor-default{cursor: default;}
.pointer{cursor: pointer;}
.help{cursor: help;}
a.active{font-weight: 600;color: var(--bs-body-color);}


.fs-7{font-size: 0.9rem!important;}
.fs-8{font-size: 0.8rem!important;}
.fs-9{font-size: 0.7rem!important;}

a{text-decoration: none;}
select.readonly{background: rgb(233, 236, 239)!important;pointer-events: none;touch-action: none;}
input[readonly], input[readonly] + label::after, .readonly, .readonly + label::after, textarea[readonly]{background: rgb(233, 236, 239)!important;}
dialog:focus-visible{outline: none!important;}

[data-bs-theme="dark"] input[readonly],
[data-bs-theme="dark"] input[readonly] + label::after,
[data-bs-theme="dark"] .readonly,
[data-bs-theme="dark"] .readonly + label::after,
[data-bs-theme="dark"] textarea[readonly]{background-color: #393939!important;color: #999!important;}

.form-floating > label::after{ background-color: transparent!important }

.flat-input{border: 0;border-bottom: 2px solid var(--bs-border-color-translucent);background-color: transparent;padding-top: 22px;padding-bottom: 3px;margin-bottom: 4px;outline: none;font-size: 0.95rem;width: 100%;}
.flat-input.is-invalid{border-bottom-color: var(--bs-form-invalid-border-color);}
.flat-input ~ .flat-label{float: left;margin-top: -35px;z-index: -1;font-size: 1rem;transition: all 0.3s ease;}
.flat-input:focus + .flat-label, .flat-input:not(:placeholder-shown) + .flat-label{font-size: 0.85rem;margin-top: -55px; opacity: 0.8;}
.flat-textarea{border: 0;border-bottom: 2px solid var(--bs-border-color-translucent);background-color: transparent;padding-top: 20px;padding-bottom: 3px;margin-bottom: 4px;outline: none;font-size: 0.95rem;width: 100%;}
.flat-textarea ~ .flat-label{float: left;margin-top: -60px;z-index: -1;font-size: 1rem;transition: all 0.3s ease;}
.flat-textarea:focus + .flat-label, .flat-textarea:not(:placeholder-shown) + .flat-label{font-size: 0.85rem;margin-top: -80px; opacity: 0.8;}

.flat-select{border: 0;border-bottom: 2px solid var(--bs-border-color-translucent);background-color: transparent;padding-top: 28px;padding-bottom: 3px;margin-bottom: 4px;outline: none;font-size: 0.95rem;width: 100%;}
.flat-select option{background-color: var(--bs-body-bg);}
.flat-select + .flat-label{float: left;margin-top: -55px;z-index: -1;font-size: 0.8rem;transition: all 0.3s ease;color: var(--bs-secondary-text-emphasis);}

.widget-thumb-img{position: relative;height: 150px;border: 3px solid #dee2e6;border-radius: .25rem;}
.widget-thumb-controls{margin-top: 5px;}

.form-check-label{user-select: none;}

.text-justify{text-align: justify;}
.text-transparent{color: transparent!important;}
.text-orange{color: #FF5722!important;}
.text-purple{color: #6f42c1!important;}
.text-purple-light{color: #727cf5!important;}
.text-pink{color: #d63384!important;}
[data-bs-theme="dark"] .text-purple{color: #F2A2E8!important;}
.text-hover-orange:hover{color: #FF5722!important;}
.text-hover-purple:hover{color: #6f42c1!important;}

.btn-xl{height: calc(3.5rem + 2px);line-height: 1.25;}
[data-bs-theme="dark"] .btn-dark, .btn-dark-alt, .bg-dark-alt{background-color: #393939;color: #FFF;}
[data-bs-theme="dark"] .btn-dark:hover, .btn-dark-alt:hover{background-color: #333333;}
.btn-orange, .bg-orange{background-color: #F35B04;color: #FFF;}
.btn-orange-subtle, .bg-orange-subtle{background-color: #60341f;color: #FFF;}
.btn-orange:hover{background-color: #FD7E14;color: #FFF;}
.btn-pink, .bg-pink{background-color: #d63384;color: #FFF;}
.btn-pink-subtle, .bg-pink-subtle{background-color: #661339;color: #FFF;}
.btn-pink:hover{background-color: #ab296a;color: #FFF;}
.btn-purple, .bg-purple{background-color: #6f42c1!important;color: #FFF!important;}
.btn-purple-subtle, .bg-purple-subtle{background-color: #2d1956!important;color: #FFF!important;}
.btn-purple:hover{background-color: #59359a!important;color: #FFF;}
.btn-purple-light, .bg-purple-light{background-color: #727cf5!important;color: #FFF!important;}
.btn-purple-light:hover{background-color: #6169d0!important;color: #FFF!important;}
.btn-outline-purple{border-color: #6f42c1!important;color: #6f42c1!important;}
.btn-outline-purple:hover{background-color: #6f42c1!important;color: #FFF!important;}

.btn-phantom{background-color: transparent;}
.btn-phantom:hover, .btn-phantom:focus{background-color: var(--bs-tertiary-bg);}
.btn-phantom.active{border-color: transparent;background-color: var(--bs-success);}
.btn-phantom-success{color: rgb(var(--bs-success-rgb));}
.btn-phantom-success:hover{background-color: #198754;color: #FFF;}
.btn-phantom-primary{color: rgb(var(--bs-primary-rgb));}
.btn-phantom-primary:hover{background-color: #0d6efd;color: #FFF;}
.btn-phantom-warning{color: rgb(var(--bs-warning-rgb));}
.btn-phantom-warning:hover{background-color: #ffc107;color: #333;}
.btn-phantom-danger{color: var(--bs-danger);}
[data-bs-theme="dark"] .btn-phantom-danger{color: var(--bs-danger-text-emphasis);}
.btn-phantom-danger:hover{background-color: #dc3545;color: #FFF;}
.btn-phantom-orange{color: #F35B04;}
.btn-phantom-orange:hover{background-color: #F35B04;color: #FFF;}
.btn-phantom-purple{color: #6f42c1;}
[data-bs-theme="dark"] .btn-phantom-purple{color: #F2A2E8;}
.btn-phantom-purple:hover{background-color: #6f42c1;color: #FFF;}
[data-bs-theme="dark"] .btn-phantom-purple:hover{background-color: #F2A2E8;color: #333;}
.btn-phantom-light{color: rgb(var(--bs-body-color-rgb));}
.btn-phantom-light:hover{background-color: rgba(255,255,255,0.8);color: #333;}
.btn-phantom-light:disabled{border: 0;}

div.btn-primary{background-color: #0d6efd; color: #FFF;}
div.btn-primary:hover{background-color: #0b5ed7;}
div.btn-success{background-color: #198754; color: #FFF;}
div.btn-success:hover{background-color: #157347;}
div.btn-warning{background-color: #ffc107; color: #000;}
div.btn-warning:hover{background-color: #ffca2c;}
div.btn-info{background-color: #0dcaf0; color: #000;}
div.btn-info:hover{background-color: #31d2f2;}
div.btn-danger{background-color: #bb2d3b; color: #FFF;}
div.btn-danger:hover{background-color: #dc3545;}
div.btn-dark{background-color: #212529; color: #FFF;}
div.btn-dark:hover{background-color: #424649;}
div.btn-secondary{background-color: #6c757d; color: #FFF;}
div.btn-secondary:hover{background-color: #5c636a;}
div.btn-light{background-color: #f8f9fa; color: #000;}
div.btn-light:hover{background-color: #d3d4d5;}

.dropdown-item-danger {color: #DC3545!important;}
.dropdown-item-danger:hover, .dropdown-item-danger:focus {color: #fff!important;background-color: #DC3545!important;}
.dropdown-item-success {color: #198754!important;}
.dropdown-item-success:hover, .dropdown-item-success:focus {color: #fff!important;background-color: #198754!important;}
.dropdown-item-purple {color: #6f42c1!important;}
.dropdown-item-purple:hover, .dropdown-item-purple:focus {color: #fff!important;background-color: #6f42c1!important;}
.dropdown-item-secondary {color: #6c757d!important;}
.dropdown-item-secondary:hover, .dropdown-item-purple:focus {color: #fff!important;background-color: #6c757d!important;}


.table.border tr{border-left:3px solid var(--bs-table-border-color);}
.table.border tbody tr.bg-body-secondary{border-left:3px solid var(--bs-tertiary-color);}
.table td.fit,.table th.fit {white-space: nowrap;width: 1%;}
.table-sortable th:not([data-sort_role='none']) {cursor: pointer;}
.table-sortable .th-sort-asc::after {content: "\025B4";}
.table-sortable .th-sort-desc::after {content: "\025BE";}
.table-sortable .th-sort-asc::after,.table-sortable .th-sort-desc::after {margin-left: 5px;}
.table-sortable .th-sort-asc,.table-sortable .th-sort-desc {background-color: var(--bs-secondary-bg);}

tr.selected td{background-color: var(--bs-secondary-bg);}
.table-emphasis td, td.table-emphasis{background-color: var(--bs-warning-bg-subtle);color: var(--bs-warning-text)!important;}
.table-emphasis.bg-body-secondary td, td.table-emphasis.bg-body-secondary{background-color: #fcecba;}
[data-bs-theme="dark"] .table-emphasis.bg-body-secondary td, td.table-emphasis.bg-body-secondary{background-color: #493802;}

.table-priority td, td.table-priority, .bg-priority{background-color: var(--bs-primary-bg-subtle);color: var(--bs-primary-text)!important;}
.table-priority.bg-body-secondary td, td.table-priority.bg-body-secondary{background-color: #cfe2ff;}
[data-bs-theme="dark"] .table-priority.bg-body-secondary td, td.table-priority.bg-body-secondary{background-color: #032830;}

.table-caution td, td.table-caution, .bg-caution{background-color: var(--bs-danger-bg-subtle);color: var(--bs-danger-text)!important;}
.table-caution.bg-body-secondary td,td.table-caution.bg-body-secondary, .bg-caution.bg-body-secondary{background-color: #f9c5c9;}
[data-bs-theme="dark"] .table-caution.bg-body-secondary td, td.table-caution.bg-body-secondary, .bg-caution.bg-body-secondary{background-color: #441014;}

.table-done td, td.table-done, .bg-done{background-color: var(--bs-success-bg-subtle);color: var(--bs-success-text)!important;}
.table-done.bg-body-secondary td,td.table-done.bg-body-secondary, .bg-done.bg-body-secondary{background-color: #d1e7dd;}
[data-bs-theme="dark"] .table-done.bg-body-secondary td,td.table-done.bg-body-secondary, .bg-done.bg-body-secondary td{background-color: #092618;}

.nav-link:focus-visible{box-shadow: none;color: var(--bs-link-color)!important;}
.link {
    color: var(--bs-link-color);
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.link.active { text-decoration: underline;}
.link:hover { color: var(--bs-link-hover-color) }

.appAlert{position: fixed;width: 100%;bottom: 0;z-index: 300;margin-bottom: 0;}

.callout{border: 1px solid #e9ecef;border-left-width: .25rem;border-radius: .25rem;padding: 0.8rem;}
[data-bs-theme="dark"] .callout{background-color: #393939; border-color: rgba(255,255,255,0.15);}
.callout-secondary{border-left-color: #6C757D!important;}
.callout-primary{border-left-color: #0D6EFD!important;}
.callout-info{border-left-color: #5bc0de!important;}
.callout-success{border-left-color: #198754!important;}
.callout-warning{border-left-color: #FFC107!important;}
.callout-danger{border-left-color: #DC3545!important;}
.callout-purple{border-left-color: #6f42c1!important;}
.callout-orange{border-left-color: #F35B04!important;}
.callout-pink{border-left-color: #d63384!important;}

pre, code{user-select: all;}
.code{background-color: #F8F9FA;border: 1px solid #dee2e6;border-radius: .25rem;padding: 5px 10px;margin-bottom: 15px;user-select: all;}
.code-btn-copy{position: absolute;top:5px;right: 5px;font-size: 1.2rem;padding: 2px 8px;cursor: pointer;color: #FFF;opacity: 0.5;border-radius: 5px;}
.code-btn-copy:hover{background-color: #535350;opacity:1;}

.slideIn{animation-fill-mode: both; animation-name: slideIn; animation-duration: 0.5s;}
@keyframes slideIn{from{transform:translate3d(0,100%,0);visibility:visible;}to{transform:translate3d(0,0,0);}}


.autocomplete-results{
    display: none;
    position: absolute;
    min-width: 250px;
    margin-top: 8px;
    padding: 10px;
    background-color: rgba(var(--bs-tertiary-bg-rgb), 1);
    list-style: none;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    z-index: 1000;
}
.autocomplete-results li{
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}
.autocomplete-results li:hover{ cursor: pointer; }
.autocomplete-results .emphasis{ color: #F35B04; font-weight: 600; }
.autocomplete-results li.highlighted, .autocomplete-results li:hover{ background-color: #9394F1; color: #0D0B1E; }

dialog::backdrop { background-color: rgba(0, 0, 0, 0.5) }