{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="castelhano.rafael@gmail.com">
    <title>{% block title %}Solaris{% endblock %}</title>
    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bs_icons/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    
    {% block style_src %}{% endblock %}
    
    <style media="screen">
        #notify_container{
            position: fixed;
            top: 50px;
            right: 4px;
            max-width: 450px;
            z-index: 1000;
        }
        {% block style %}{% endblock %}
    </style>
    
    {% block script_preload_src %}{% endblock %}
    <script>
        const __sw = screen?.width || null;
        const __ss = __sw == null ? null : __sw >= 1400 ? 'xxl' : __sw >= 1200 ? 'xl' : __sw >= 992 ? 'lg' : __sw >= 768 ? 'md' : 'sm' ;
        {% block script_preload %}{% endblock %}
        window.addEventListener('error', (ev) => {appAlert('danger', `<b>Ops</b> Essa página contém um erro, pedimos informar ao administrador<br>mensagem: <i>${ev.message}`, false)})
    </script>
</head>

<body class="{% block body_classlist %}{% endblock %}" style="{% block body_style %}{% endblock %}">
    <nav class="navbar fixed-top py-1 {% block navbar_classlist %}bg-body-tertiary border-bottom{% endblock %}">
        <div class="container-fluid">
            <a class="text-body" id="home" href="{% url 'index' %}"><i class="bi bi-input-cursor fs-4"></i></a>
            <span class="navbar-brand">{% block nav_title %}ERU{% endblock %}</span>
            <i class="bi bi-sliders2 fs-4 pointer px-2 px-lg-3" id="canvasNavLink" data-bs-toggle="offcanvas" data-bs-target="#canvasNav"></i>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="canvasNav">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Configurações</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="row">
                    <div class="col ms-3 text-secondary">
                        {% if user.is_staff %}<small class="badge bg-primary">STAFF</small>{% endif %}
                        {% if user.is_superuser %}<small class="badge bg-danger">SUPER</small>{% endif %}
                        <small class="badge bg-secondary">{{user|upper}}</small>
                        <small>{{user.last_login|date:'d/m/y H:i'}}</small>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
                                <label class="form-check-label" for="themeSwitch">Tema escuro</label>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block"><button type="button" class="btn btn-sm btn-secondary" title="Atalhos de teclado" onclick="appKeyMap.showKeymap()"><i class="bi bi-keyboard"></i></button></div>
                    </div>
                    <ul id="customCanvasNavMenu" class="navbar-nav justify-content-end flex-grow-1 mt-2"></ul>
                    {% block canvasNav %}{% endblock %}
                    <div class="position-sticky mt-2" style="top: 95%;">
                        <a href="{% url 'logout' %}" class="btn btn-sm btn-primary me-1" id="logout"><i class="bi bi-power me-2"></i>Logout</a>
                        <a href="{% url 'change_password' %}" class="btn btn-sm btn-secondary" id="change_password_btn"><i class="bi-shield-fill me-2"></i>Senha</a>
                        <a href="{% url 'jobs' %}" class="btn btn-sm btn-secondary float-end" id="jobs_btn" target="_blank"><i class="bi bi-database-fill-gear me-2"></i>Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div style="margin-top: 50px;">
        {% block content %}{% endblock %}
        <div data-target="appContentFluid" class="container-fluid pt-2">
            <div id="notify_container"></div>
            {% block content_fluid %}{% endblock %}
        </div>
    </div>
    
    {% for message in messages %}
    <div id="app_sys_message" data-type="appAlert" class="alert appAlert slideIn alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>if('{{message.tags}}' == 'success'){setTimeout(function(){try{document.getElementById('app_sys_message').remove()}catch(e){}}, 4000)}</script>
    {% endfor %}
    
    {% if form.errors %}
    <div id="form_error_msg" data-type="appAlert" class="alert appAlert slideIn alert-danger alert-dismissible fade show" role="alert">
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="d-block">{{ error|safe }} <b>[ field: {{ field.name }} ]</b></span>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <span class="d-block">{{ error|safe }} </span>
        {% endfor %}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <!-- Loading Modal -->
    <!-- <div class="modal fade user-select-none" id="appModalLoading" tabindex="-1" style="z-index: 10000;" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span id="appModalLoadingIcon">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </span>
                    <span id="appModalLoadingMessage" style="position: relative;top:-6px; left:5px;"><b>Aguarde!</b> Processando requisição...</span>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Confirmation modal -->
    <div class="modal fade" id="appModalConfirm" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h1 class="modal-title fs-5" id="appModalConfirm_title"><i class="bi bi-exclamation-triangle-fill text-secondary me-2"></i>Confirma Operação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="appModalConfirm_message">Confirma operação?</p>
                    <div class="text-end">
                        <button class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a id="appModalConfirm_link" class="btn btn-sm btn-primary">Confirmar</a>
                        <button id="appModalConfirm_button" class="btn btn-sm btn-primary d-none">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/keywatch.js' %}"></script>
    <script src="{% static 'js/i18n.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    {% block add_script_src %}{% endblock %}

    <script>
        const i18n = new I18n({apps: ['core']})
        const appKeyMap = new Keywatch({i18nHandler: i18n}); // Inicia lib para captura de shortcuts
        
        if(localStorage.theme){
            document.documentElement.dataset.bsTheme = localStorage.theme;
            document.getElementById('themeSwitch').checked = localStorage.theme == 'dark';
        }
        else if(window.matchMedia){
            let theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
            document.documentElement.dataset.bsTheme = theme;
            document.getElementById('themeSwitch').checked = theme == 'dark';
        }
        
        document.getElementById('themeSwitch').onclick = (e) => {
            if(e.target.checked){
                document.documentElement.dataset.bsTheme = 'dark';
                localStorage.theme = 'dark'
            }
            else{
                document.documentElement.dataset.bsTheme = 'light';
                localStorage.theme = 'light'
            }
        };

        const canvasNav = new bootstrap.Offcanvas('#canvasNav');
        function canvasNavActive(set=null){ // Exibe, oculta ou consulta estado do canvasNav
            switch (set) {
                case null: return document.getElementById('canvasNav').classList.contains('show'); break;
                case true: canvasNav.show();break;
                case false: canvasNav.hide();break;
            }
        }
        appKeyMap.bind('alt+i', ()=>{try{document.getElementById('home').click()}catch(e){}}, {desc:'Retorna à página inicial'})
        if(document.getElementById('root')){appKeyMap.bind('alt+.', ()=>{try{document.getElementById('root').click()}catch(e){}}, {desc:'Retorno inicio do módulo'})}
        if(document.getElementById('add')){appKeyMap.bind('alt+n', ()=>{try{document.getElementById('add').click()}catch(e){}}, {desc:'Novo registro'})}
        if(document.getElementById('submit')){appKeyMap.bind('alt+g', ()=>{try{document.getElementById('submit').click()}catch(e){}}, {desc:'Grava alterações'})}
        if(document.getElementById('back')){appKeyMap.bind('alt+v', ()=>{try{document.getElementById('back').click()}catch(e){}}, {desc:'Retorna origem'})}
        if(document.getElementById('search')){appKeyMap.bind('ctrl+/', () => {try{document.getElementById('search').click()}catch(e){}}, {desc:'Exibe filtros da página'})}
        appKeyMap.bind('alt+l', ()=>{window.location.href = typeof appClearUrl == 'string' ? appClearUrl : window.location.href.replace('update','id').split("?")[0].split('#')[0]}, {desc:'Recarregar página (limpa filtros)'})
        appKeyMap.bind('alt+m', ()=>{canvasNav.toggle()}, {desc:'Abre painel lateral'})
        appKeyMap.bind('alt+q', ()=>{try{document.getElementById('logout').click()}catch(e){}}, {desc:'Encerra sessão no sistema'})
        
        {% block add_script %}{% endblock %}
    </script>

    {% block canvas_menu %}{% endblock %}
    
    
</body>
</html>