{% load i18n %}
{% load tag_extra %}
<script>

    const cadastro = new canvasNavDropdown({
        name: '{% translate 'Cadastro'|hl_str:'c' %}',
        icon: 'bi bi-list',
        itens: [
        {% if perms.core.view_empresa %}{name: '<b><u>E</u></b>mpresa', id:'menu_empresa', href: '{% url 'empresa_list' %}', keybind: ['e', ()=>{if(cadastro.isOpen()){document.getElementById('menu_empresa').click()}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.auth.view_user %}{name: '<b><u>U</u></b>suário', id:'menu_usuario', href: '{% url 'usuario_list' %}', keybind: ['u', ()=>{if(cadastro.isOpen()){document.getElementById('menu_usuario').click()}}, {display: false, preventDefault: false}]}, {% endif %}
        {% if perms.auth.view_group %}{name: '<b><u>G</u></b>rupo', id:'menu_grupo', href: '{% url 'grupo_list' %}', keybind: ['g', ()=>{if(cadastro.isOpen()){document.getElementById('menu_grupo').click()}}, {display: false, preventDefault: false}]}, {% endif %}
        ],
        keybind: [
            'alt+c',
            (ev)=>{ // Abre menu de cadastro, exibe o canvas Nav caso nao esteja visivel
                canvasNavActive(true); // Exibe o canvasNav (caso oculto)
                cadastro.click();
                setTimeout(()=>{cadastro.focus()}, 340);
            },
            {icon: 'bi-layout-sidebar-inset-reverse', desc:'Abre menu de cadastro'}
        ]
    })
    // Adicionando atalhos diretos Ctrl+c [THEN] E ==> C+E
    {% if perms.core.view_empresa %}appKeyMap.bind('c+e', ()=>{document.getElementById('menu_empresa').click()}, {display: false}){% endif %}
    {% if perms.auth.view_user %}appKeyMap.bind('c+u', ()=>{document.getElementById('menu_usuario').click()}, {display: false}){% endif %}
    {% if perms.auth.view_group %}appKeyMap.bind('c+g', ()=>{document.getElementById('menu_grupo').click()}, {display: false}){% endif %}
    
    {% if perms.core.view_settings %}
    const menuSettings = new canvasNavLink({
        name: 'Config<b><u>u</u></b>rações',
        id: 'menu_menuSettings',
        class: 'text-purple',
        icon: 'bi bi-gear-fill',
        href: '{% url 'settings' %}',
        keybind: [
            'alt+u',
            ()=>{menuSettings.click()},
            {icon: 'bi bi-gear-fill text-purple', desc: 'Configurações gerais do sistema'}
        ]
    })
    {% endif %}
    
    {% if perms.auditlog.view_logentry %}
    const menuLogs = new canvasNavLink({
        name: 'L<b><u>o</u></b>gs',
        id: 'menu_menuLogs',
        class: 'text-warning',
        icon: 'bi bi-database-fill-lock',
        href: '{% url 'logs' %}',
        keybind: [
            'alt+o',
            ()=>{menuLogs.click()},
            {icon: 'bi bi-database-fill-lock text-warning', desc: 'Exibir logs'}
        ]
    })
    {% endif %}
</script>