<script>

    const cadastro = new canvasNavDropdown({
        name: '<b><u>C</u></b>adastro',
        icon: 'bi bi-list',
        'data-i18n': 'common.register__bold:c',
        itens: [
        {% if perms.core.view_empresa %}{name: '<b><u>E</u></b>mpresa', id:'menu_empresa', href: '{% url 'empresas' %}', 'data-i18n': 'index.nav.registerCompany__bold:e', keybind: ['e', ()=>{if(cadastro.isOpen()){document.getElementById('menu_empresa').click()}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.auth.view_user %}{name: '<b><u>U</u></b>suário', id:'menu_usuario', href: '{% url 'usuarios' %}', 'data-i18n': 'index.nav.registerUser__bold:u', keybind: ['u', ()=>{if(cadastro.isOpen()){document.getElementById('menu_usuario').click()}}, {display: false, preventDefault: false}]}, {% endif %}
        {% if perms.auth.view_group %}{name: '<b><u>G</u></b>rupo', id:'menu_grupo', href: '{% url 'grupos' %}', 'data-i18n': 'index.nav.registerGroup__bold:g', keybind: ['g', ()=>{if(cadastro.isOpen()){document.getElementById('menu_grupo').click()}}, {display: false, preventDefault: false}]}, {% endif %}
        ],
        keybind: [
            'alt+c',
            (ev)=>{ // Abre menu de cadastro, exibe o canvas Nav caso nao esteja visivel
                canvasNavActive(true); // Exibe o canvasNav (caso oculto)
                cadastro.click();
                setTimeout(()=>{cadastro.focus()}, 340);
            },
            {'data-i18n': 'sys.shortcuts.registerMenu', icon: 'bi-layout-sidebar-inset-reverse', desc:'Abre menu de cadastro'}
        ]
    })
    // Adicionando atalhos diretos Ctrl+c [THEN] E ==> C+E
    {% if perms.core.view_empresa %}appKeyMap.bind('c+e', ()=>{document.getElementById('menu_empresa').click()}, {display: false}){% endif %}
    {% if perms.auth.view_user %}appKeyMap.bind('c+u', ()=>{document.getElementById('menu_usuario').click()}, {display: false}){% endif %}
    {% if perms.auth.view_group %}appKeyMap.bind('c+g', ()=>{document.getElementById('menu_grupo').click()}, {display: false}){% endif %}
    
    {% if perms.core.view_settings %}
    const menuSettings = new canvasNavLink({
        name: 'Config<b><u>u</u></b>rações',
        id: 'menu_menuSettings',
        class: 'text-purple',
        icon: 'bi bi-gear-fill',
        href: '{% url 'settings' %}',
        'data-i18n': 'common.menuSettings__bold:u',
        keybind: [
            'alt+u',
            ()=>{menuSettings.click()},
            {'data-i18n':"common.menuSettings", icon: 'bi bi-gear-fill text-purple', desc: 'Configurações gerais do sistema'}
        ]
    })
    {% endif %}
    
    {% if perms.auditlog.view_logentry %}
    const menuLogs = new canvasNavLink({
        name: 'Logs',
        id: 'menu_menuLogs',
        class: 'text-warning',
        icon: 'bi bi-database-fill-lock',
        href: '{% url 'logs' %}',
        'data-i18n': 'common.menuLogs__bold:u',
        keybind: [
            'alt+u',
            ()=>{menuLogs.click()},
            {'data-i18n':"common.menuLogs", icon: 'bi bi-gear-fill text-purple', desc: 'Configurações gerais do sistema'}
        ]
    })
    {% endif %}
</script>