<script>

    const cadastro = new canvasNavDropdown({
        name: '<b>C</b>adastro',
        icon: 'bi bi-list',
        'data-i18n': 'common.register__bold:c',
        itens: [
        {% if perms.pessoal.view_funcionario %}{name: '<b><u>F</u></b>uncionário', id:'menu_funcionario', href: '{% url 'pessoal_funcionarios' %}', 'data-i18n': 'common.employee__bold:f', keybind: ['f', ()=>{if(cadastro.isOpen()){document.getElementById('menu_funcionario').click()}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.pessoal.view_setor %}{name: '<b><u>S</u></b>etor', id:'menu_setor', href: '{% url 'pessoal_setores' %}', 'data-i18n': 'common.sector__bold:s', keybind: ['s', ()=>{if(cadastro.isOpen()){document.getElementById('menu_setor').click()}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.pessoal.view_cargo %}{name: 'Carg<b><u>o</u></b>', id:'menu_cargo', href: '{% url 'pessoal_cargos' %}', 'data-i18n': 'common.position__bold:o', keybind: ['o', ()=>{if(cadastro.isOpen()){document.getElementById('menu_cargo').click()}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.pessoal.view_evento %}
        {type: 'separator'},
        {name: '<b><u>E</u></b>vento', id:'menu_evento', href: '{% url 'pessoal_eventos' %}', 'data-i18n': 'personal.common.event__bold:e', keybind: ['e', ()=>{if(cadastro.isOpen()){document.getElementById('menu_evento').click()}}, {display: false, preventDefault: false}]},
        {% endif %}
        ],
        keybind: [
            'alt+c',
            (ev)=>{ // Abre menu de cadastro, exibe o canvas Nav caso nao esteja visivel
                canvasNavActive(true); // Exibe o canvasNav (caso oculto)
                cadastro.click();
                setTimeout(()=>{cadastro.focus()}, 340);
            },
            {'data-i18n': 'sys.shortcuts.registerMenu', icon: 'bi-layout-sidebar-inset-reverse', desc:'Abre menu de cadastro'}
        ]
    })
    // Adicionando atalhos diretos Ctrl+c [THEN] E ==> C+E
    {% if perms.pessoal.view_funcionario %}appKeyMap.bind('c+f', ()=>{document.getElementById('menu_funcionario').click()}, {display: false}){% endif %}
    {% if perms.pessoal.view_setor %}appKeyMap.bind('c+s', ()=>{document.getElementById('menu_setor').click()}, {display: false}){% endif %}
    {% if perms.pessoal.view_cargo %}appKeyMap.bind('c+o', ()=>{document.getElementById('menu_cargo').click()}, {display: false}){% endif %}
    
    
    i18n.addApp('pessoal');
</script>