<script>
    const menuCadastro = new canvasNavDropdown({
        name: '<b>C</b>adastro',
        icon: 'bi bi-list',
        'data-i18n': 'common.register__bold:c',
        itens: [
        {% if perms.trafego.view_linha %}{name: '<b><u>L</u></b>inha', id:'menu_linha', href: '{% url 'trafego_linhas' %}', 'data-i18n': 'route.route__bold:l', keybind: ['l', ()=>{if(menuCadastro.isOpen()){document.getElementById('menu_linha').click();}}, {display: false, preventDefault: false}]},{% endif %}
        {% if perms.trafego.view_localidade %}{name: 'L<b><u>o</u></b>calidade', id:'menu_localidade', href: '{% url 'trafego_localidades' %}', 'data-i18n': 'route.locale__bold:o', keybind: ['o', ()=>{if(menuCadastro.isOpen()){document.getElementById('menu_localidade').click();}}, {display: false, preventDefault: false}]}, {% endif %}
        ],
        keybind: [
            'alt+c',
            (ev)=>{ // Abre menu de cadastro, exibe o canvas Nav caso nao esteja visivel
                canvasNavActive(true); // Exibe o canvasNav (caso oculto)
                menuCadastro.click();
                setTimeout(()=>{menuCadastro.focus()}, 340);
            },
            {'data-i18n': 'route.shortcuts.openRegisterMenu', icon: 'bi bi-layout-sidebar-inset-reverse text-orange', desc:'Abre menu de cadastro'}
        ]
    })
    {% if perms.trafego.view_linha %}appKeyMap.bind('c+l', ()=>{document.getElementById('menu_linha').click()}, {display: false}){% endif %}
    {% if perms.trafego.view_localidade %}appKeyMap.bind('c+o', ()=>{document.getElementById('menu_localidade').click()}, {display: false}){% endif %}
    const menuImportar = new canvasNavDropdown({
        name: 'Impor<b>t</b>ação',
        icon: 'bi bi-person-fill-up',
        'data-i18n': 'common.import__bold:t',
        itens: [
        {% if perms.trafego.add_passageiro %}{name: '<b><u>P</u></b>assageiros', 'data-i18n': 'route.passenger.passenger__bold:p', id:'menu_passageiros_import', href: '{% url 'trafego_passageiros_import' %}', keybind: ['p', ()=>{if(menuImportar.isOpen()){document.getElementById('menu_passageiros_import').click();}}, {display: false, preventDefault: false}]},{% endif %},
        {% if perms.trafego.demanda_update %}{name: 'Atualizar <b><u>D</u></b>emanda', 'data-i18n': 'route.shortcuts.demandUpdate__bold:d', id:'menu_demanda_update', tagName: 'span', onclick: ()=>{appAlert('warning', 'Em desenvolvimento', {'data-i18n': 'sys.inDevelopment', autodismiss: false})}, keybind: ['d', ()=>{if(menuImportar.isOpen()){document.getElementById('menu_demanda_update').click();}}, {display: false, preventDefault: false}]},{% endif %},
        ],
        keybind: [
            'alt+t',
            (ev)=>{ // Abre menu de cadastro, exibe o canvas Nav caso nao esteja visivel
                canvasNavActive(true); // Exibe o canvasNav (caso oculto)
                menuImportar.click();
                setTimeout(()=>{menuImportar.focus()}, 340);
            },
            {'data-i18n': 'route.shortcuts.openImportMenu', icon: 'bi bi-layout-sidebar-inset-reverse text-orange', desc:'Abre menu de importação'}
        ]
    })
    {% if perms.trafego.add_passageiro %}appKeyMap.bind('t+p', ()=>{document.getElementById('menu_passageiros_import').click()}, {display: false}){% endif %}
    {% if perms.trafego.demanda_update %}appKeyMap.bind('t+d', ()=>{document.getElementById('menu_demanda_update').click()}, {display: false}){% endif %}
    
    {% if perms.trafego.view_planejamento %}
    const menuPlanejamento = new canvasNavLink({
        name: '<b>P</b>lanejamento',
        'data-i18n': 'route.planning__bold:p',
        id: 'menu_planejamento',
        class: 'text-purple',
        icon: 'bi bi-shuffle',
        href: '{% url 'trafego_planejamentos' %}',
        keybind:[
            'alt+p',
            ()=>{document.getElementById('menu_planejamento').click()},
            {'data-i18n': 'route.shortcuts.planningMenu', icon: 'bi bi-layout-sidebar-inset-reverse text-orange', desc: 'Abre página de planejamentos'}
        ]
    })
    {% endif %}
    {% if perms.trafego.view_passageiro %}
    const menuPassageiro = new canvasNavLink({
        name: 'P<b>a</b>ssageiros',
        'data-i18n': 'route.passenger.passenger__bold:a',
        id: 'menu_passageiro',
        class: 'text-purple',
        icon: 'bi bi-graph-up-arrow',
        href: '{% url 'trafego_passageiros' %}',
        keybind:[
            'alt+a',
            ()=>{
                document.getElementById('menu_passageiro').click();
            },
            {'data-i18n': 'route.shortcuts.passengerMenu', icon: 'bi bi-layout-sidebar-inset-reverse text-orange', desc: 'Abre página de análise de carregamento'}
        ]
    })
    {% endif %}
    i18n.addApp('trafego');
</script>