<div class="row g-1" id="condutor_container"{% if hide %} style="display:none"{% endif %}>
  <div class="form-floating mb-1 col" style="max-width: 130px;">
    <input type="text" class="form-control" name="matricula" maxlength="6" id="id_matricula_condutor" value="{{matricula}}"  data-form="novalidate" placeholder=" " onfocusout="getCondutor();{{onfocusout}}"{% if autofocus %} autofocus{% endif %}{% if required %} REQUIRED{% endif %}>
    <label for="id_matricula_condutor">Condutor</label>
  </div>
  <div class="form-floating mb-1 col">
    <input type="text" class="form-control" name="nome_condutor" id="id_nome_condutor" value="{{nome}}" disabled>
    <label for="id_nome_condutor">Nome</label>
  </div>
  <input type="hidden" name="condutor" id="id_condutor" value="{{id|safe}}">
</div>
<script>
  
  function cleanCondutor(){
    document.getElementById('id_condutor').value = '';
    document.getElementById('id_matricula_condutor').value = '';
    document.getElementById('id_matricula_condutor').classList.remove('is-invalid');
    document.getElementById('id_nome_condutor').value = '';
  };
  
  
  function getCondutor() {
    empresa = document.getElementById('id_empresa');
    matricula = document.getElementById('id_matricula_condutor');
    nome = document.getElementById("id_nome_condutor");
    condutor = document.getElementById("id_condutor");
    if(matricula.value != ''){
      var xhttp_condutor = new XMLHttpRequest();
      xhttp_condutor.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){
          if(this.responseText == ''){
            document.getElementById("id_matricula_condutor").classList.add('is-invalid');
            document.getElementById("id_nome_condutor").value = 'Funcionário não cadastrado / habilitado';  
            condutor.value = '';
          }
          else{
            matricula.classList.remove('is-invalid');
            nome.value = this.responseText.split(';')[1];
            condutor.value = this.responseText.split(';')[0];
          }
        }
      };
      xhttp_condutor.open("GET", "{% url 'pessoal_get_funcionario' %}?empresa=" + empresa.value + "&matricula=" + matricula.value + "&funcaofixa=M&incluir_inativos={{incluir_inativos}}&multiempresa={{multiempresa}}", true);
      xhttp_condutor.send();  
    }
    else{cleanCondutor();}
  }  
</script>