<div class="{{container_classlist|default:'form-floating col-lg mb-1'}}">
	<select class="{{input_classlist|default:'form-select'}}" id="id_empresa" data-i18n="[placeholder]common.company" name="empresa" {{attrs}}></select>
	{% if label != False %}<label for="id_empresa" data-i18n="common.company">Empresa</label>{% endif %}
</div>

<script>
  function getEmpresas() {
  	var xhttp = new XMLHttpRequest();
  	xhttp.onreadystatechange = function() {
  		if(this.readyState == 4 && this.status == 200){
  			if(this.responseText == ''){}
  			else{
  				let obj = JSON.parse(this.responseText);
  				empresas = document.getElementById("id_empresa");
					empresa_atual = '{{empresa_atual}}';
					if({{blank_row|default:'false'}}){empresas.innerHTML = `<option value="" data-i18n="common.all">${ i18n ? i18n.getEntry('common.all') || '{{blank_row_message}}' || '--' : '{{blank_row_message}}' || '--'}</option>` }
  				for(key in obj){
					empresas.innerHTML += `<option value="${obj[key].pk}" ${obj[key].pk == empresa_atual ? 'selected' : ''}>${obj[key].fields.nome}</option>`;
				}
  			}
  		}
  	};
  	xhttp.open("GET", "{% url 'get_empresas' %}", true);
  	xhttp.send();
  }
  getEmpresas();
</script>