<div class="row g-1" id="funcionario_container"{% if hide %} style="display:none"{% endif %}>
  <div class="form-floating mb-1 col" style="max-width: 130px;">
    <input type="text" class="form-control" name="matricula" maxlength="6" id="id_matricula_funcionario" value="{{matricula}}"  data-form="novalidate" placeholder=" " onfocusout="getFuncionário();{{onfocusout}}"{% if autofocus %} autofocus{% endif %}{% if required %} REQUIRED{% endif %}>
    <label for="id_matricula_funcionario" >Matricula</label>
  </div>
  <div class="form-floating mb-1 col">
    <input type="text" class="form-control" name="nome_funcionario" id="id_nome_funcionario" value="{{nome}}" disabled>
    <label for="id_nome_funcionario">Nome</label>
  </div>
  <input type="hidden" name="funcionario" id="id_funcionario" value="{{id|safe}}">
</div>
<script>
  
  function cleanFuncionário(){
    document.getElementById('id_funcionario').value = '';
    document.getElementById('id_matricula_funcionario').value = '';
    document.getElementById('id_matricula_funcionario').classList.remove('is-invalid');
    document.getElementById('id_nome_funcionario').value = '';
  };
  
  
  async function getFuncionário() {
    let matricula = document.getElementById('id_matricula_funcionario');
    let nome = document.getElementById("id_nome_funcionario");
    let funcionario = document.getElementById("id_funcionario");
    if (matricula.value === '') { cleanFuncionário(); return; }
    let url = "{% url 'funcionario-api-list' %}?matricula=" + matricula.value;
    try {
      let response = await fetch(url);
      if (!response.ok) {  // se erro na resposta
        let errorData = await response.json();
        console.log(errorData);
      }
      // se localizado matricula, carrega dados no componente
      let responseText = await response.text();
      if (responseText) {
        let result = JSON.parse(responseText);
        if(result.length == 0){ // se retorno for uma lista vazia
          cleanFuncionário();
          matricula.classList.add('is-invalid');
          nome.value = i18n.getEntry('personal.sys.registrationNumberNotFound') || 'Matrícula não encontrada';
          return;
        }
        else if(result.length > 1){
          matricula.classList.add('is-invalid');
          nome.value = i18n.getEntry(`personal.sys.recordErrorOnFilterDuplicated__var:${[i18n.getEntry('personal.common.employeeId') || 'Matricula']}`) || 'Registro duplicado encontrado';
          return;
        }
        result = result[0]
        matricula.classList.remove('is-invalid');
        funcionario.value = result.pk;
        nome.value = result.nome;
      } 
    } catch (error) { console.warn("Erro capturado no try/catch:", error.message) }
  }  
</script>