<div class="row g-1" id="funcionario_container"{% if hide %} style="display:none"{% endif %}>
  <div class="form-floating mb-1 col" style="max-width: 130px;">
    <input type="text" class="form-control" name="matricula" maxlength="6" id="id_matricula_funcionario" value="{{matricula}}"  data-form="novalidate" placeholder=" " onfocusout="getFuncionário();{{onfocusout}}"{% if autofocus %} autofocus{% endif %}{% if required %} REQUIRED{% endif %}>
    <label for="id_matricula_funcionario">Matricula</label>
  </div>
  <div class="form-floating mb-1 col">
    <input type="text" class="form-control" name="nome_funcionario" id="id_nome_funcionario" value="{{nome}}" disabled>
    <label for="id_nome_funcionario">Nome</label>
  </div>
  <input type="hidden" name="funcionario" id="id_funcionario" value="{{id|safe}}">
</div>
<script>
  
  function cleanFuncionário(){
    document.getElementById('id_funcionario').value = '';
    document.getElementById('id_matricula_funcionario').value = '';
    document.getElementById('id_matricula_funcionario').classList.remove('is-invalid');
    document.getElementById('id_nome_funcionario').value = '';
  };
  
  
  async function getFuncionário() {
    let matricula = document.getElementById('id_matricula_funcionario');
    let nome = document.getElementById("id_nome_funcionario");
    let funcionario = document.getElementById("id_funcionario");
    if (matricula.value === '') { cleanFuncionário(); return; }
    let url = "{% url 'pessoal:get_funcionario' %}?matricula=" + matricula.value + "&incluir_inativos={{incluir_inativos}}&multiempresa={{multiempresa}}";
    try {
      let response = await fetch(url);
      if (!response.ok) { 
        return response.json().then(errorData=>{}) // PAREI AQUIII
        matricula.classList.add('is-invalid');
        console.log(response);
        return;
        
        // nome.value = response.message;
        // if(response.status == 404){

        // }
        
       }
      
      let responseText = await response.text();
      
      
      if (responseText) {
        let result = JSON.parse(responseText)[0];
        matricula.classList.remove('is-invalid');
        matricula.value = result.pk;
      } 
    } catch (error) {
      
      // 6. Capturar e tratar erros (ex: falha de rede, erro no servidor)
      // console.error("Ocorreu um erro na requisição fetch:", error);
      // Opcional: exibir mensagem de erro genérica na UI
      // nome.value = 'Erro ao comunicar com o servidor';
      // matricula.classList.add('is-invalid');
    }
    // if(matricula.value != ''){
    //   var xhttp_funcionario = new XMLHttpRequest();
    //   xhttp_funcionario.onreadystatechange = function() {
    //     if(this.readyState == 4 && this.status == 200){
    //       if(this.responseText == ''){
    //         document.getElementById("id_matricula_funcionario").classList.add('is-invalid');
    //         document.getElementById("id_nome_funcionario").value = 'Funcionário não cadastrado / habilitado';  
    //         funcionario.value = '';
    //       }
    //       else{
    //         matricula.classList.remove('is-invalid');
    //         nome.value = this.responseText.split(';')[1];
    //         funcionario.value = this.responseText.split(';')[0];
    //       }
    //     }
    //   };
    //   xhttp_funcionario.open("GET", "{% url 'pessoal:get_funcionario' %}?matricula=" + matricula.value + "&incluir_inativos={{incluir_inativos}}&multiempresa={{multiempresa}}", true);
    //   xhttp_funcionario.send();  
    // }
    // else{cleanFuncionário();}
  }  
</script>